In [68]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [69]:
# import the whole dataset
df = pd.read_csv(r"C:\Users\carlo\TrainingsTool\Tennis\Datasets\charting-m-points-from-2017-new.csv", encoding= 'unicode_escape', low_memory=False)

In [70]:
# only take matches where a specific player played
df = df.loc[df["match_id"].str.contains("Novak_Djokovic", case = True)]

In [71]:
# only keep rows where Djoko is serving
df = df[df.Serving == "ND"]

In [72]:
df = df.drop(["isAce", "Gm#", "match_id", "isUnret", "Svr", "Ret", "isRallyWinner", "isForced", "isUnforced", "isDouble", "Serving", "TBpt","Notes", "1stSV", "2ndSV", "1stIn", "2ndIn"], axis=1)

In [73]:
df = df[["Pt", "Set1", "Set2", "Gm1", "Gm2", "Pts", "TbSet", "TB?", "PtWinner", "isSvrWinner", "rallyCount", "1st", "2nd"]]

In [74]:
# seperate the Pts column to create pts_A and pts_B, splitting at the "-" seperator
df[["Pts1", "Pts2"]] = df.Pts.str.split("-", expand = True)

In [75]:
df = df.drop("Pts", axis=1)

In [76]:
df = df[["Pt", "Set1", "Set2", "Gm1", "Gm2", "Pts1", "Pts2", "TbSet", "TB?", "PtWinner", "isSvrWinner", "rallyCount", "1st", "2nd"]]

In [77]:
# Now we need to translate "AD" in Pts1 and Pts2 to "50"
columns = ["Pts1", "Pts2"]
for i in columns:
    df[str(i)] = df[str(i)].str.replace('AD', '50')

In [78]:
df = df.reset_index(drop=True)

In [79]:
test_df = df
test_df = test_df.astype({"1st": str, "2nd": str})

In [80]:
 # join the two ralley colums together into one column with "," seperator
test_df["1st&2nd"] = test_df[["1st", "2nd"]].apply(lambda x: "".join(x), axis=1)

In [81]:
test_df = test_df.drop(["1st", "2nd"], axis = 1)

In [82]:
test_df

,Pt,Set1,Set2,Gm1,Gm2,Pts1,Pts2,TbSet,TB?,PtWinner,isSvrWinner,rallyCount,1st&2nd
0,1,0,0,0,0,0,0,1,0,2,0,6,4n4f18f3s2f1f3b3n@
1,2,0,0,0,0,0,15,1,0,1,1,1,4n6f2n#
2,3,0,0,0,0,15,15,1,0,1,1,1,4*nan
3,4,0,0,0,0,30,15,1,0,1,1,1,4n5b3n@
4,5,0,0,0,0,40,15,1,0,1,1,13,4r28f1r2f3b3f2f1f1f3b3b3b1r2n#nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9369,190,1,1,5,4,0,15,1,0,2,0,18,6f38b3b3b2f3b3s3f3b3f3b3f2f1f1f2s3s3b1n@nan
9370,191,1,1,5,4,0,30,1,0,1,1,17,6w5b39b2b2f3b3b3s3b3b3b3b3s3b3b1f1f1f2n@
9371,192,1,1,5,4,15,30,1,0,1,1,3,4b39b3b3n@nan
9372,193,1,1,5,4,30,30,1,0,1,1,13,4d4f19f3b3b3b1f2b3s3f3b3b3b2b3n@
9373,194,1,1,5,4,40,30,1,0,1,1,21,6n5f39b2f3b1f1f1f2b3b2b1f1f1f2b3b3b1f1f3s3f+-1*