In [1]:
import pandas as pd

In [3]:
# import data
df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\df_djoker_ready_to_split.csv", encoding="unicode_escape", low_memory=False)
df

,Unnamed: 0,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,...,44,45,46,47,48,49,50,51,52,53
0,0,0-0,0,0,0,0,ND,"4n,",4,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0-15,0,0,0,0,ND,"4n,",6,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,30-15,0,0,0,0,ND,"4n,",5,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,40-15,0,0,0,0,ND,4,r28,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,19319,0-15,5,4,1,1,ND,6,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,19320,0-30,5,4,1,1,ND,"6w,",5,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,19321,15-30,5,4,1,1,ND,4,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,19322,30-30,5,4,1,1,ND,"4d,",4,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,19323,40-30,5,4,1,1,ND,"6n,",5,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [463]:
# drop redundant index
df = df.drop("Unnamed: 0", axis = 1)
df

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [464]:
# all rows where Djokovic is serving
df_serving = df[df.Serving == "ND"]
df_serving

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [465]:
df_serving['0'].value_counts()

0
4        2336
6        2241
4n,       711
6d,       540
6n,       513
         ...
c6+*,       1
6+*,        1
c6+         1
4n ,        1
0q29        1
Name: count, Length: 76, dtype: int64

In [466]:
df_serving.loc[df_serving["0"].str.contains("4", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19303,AD-40,2,3,1,1,ND,"4x,",6,f39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19308,0-0,4,3,1,1,ND,4,f#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19312,40-15,4,3,1,1,ND,4,f28,b1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [467]:
df_serving.loc[df_serving["0"].str.contains("5", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
31,0-0,3,3,0,0,ND,5,b39,b2,b2d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,40-30,4,3,0,0,ND,5,b2n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,30-15,6,5,0,0,ND,5,b2d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,0-1,6,6,0,0,ND,5,b28,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,15-0,2,2,0,0,ND,5,r39,f3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19123,30-15,3,5,2,2,ND,"5d,",5,f3x#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19152,40-40,1,1,0,0,ND,5,b28,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19245,30-15,5,4,1,0,ND,5,r37,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19294,0-0,2,3,1,1,ND,"5d,",4w,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19299,40-30,2,3,1,1,ND,5,f29,f2,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [468]:
df_serving.loc[df_serving["0"].str.contains("6", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
17,30-30,1,1,0,0,ND,6,s1w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,40-30,1,1,0,0,ND,"6*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0-0,2,2,0,0,ND,"6d,",4,f28,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,30-15,3,3,0,0,ND,6,r27,f+1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,40-0,4,4,0,0,ND,"6*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19311,30-15,4,3,1,1,ND,6,f3x#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19318,0-0,5,4,1,1,ND,6,s18,f+1,l2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [469]:
df_serving.loc[df_serving["0"].str.contains("5", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
31,0-0,3,3,0,0,ND,5,b39,b2,b2d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,40-30,4,3,0,0,ND,5,b2n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,30-15,6,5,0,0,ND,5,b2d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,0-1,6,6,0,0,ND,5,b28,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,15-0,2,2,0,0,ND,5,r39,f3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19123,30-15,3,5,2,2,ND,"5d,",5,f3x#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19152,40-40,1,1,0,0,ND,5,b28,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19245,30-15,5,4,1,0,ND,5,r37,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19294,0-0,2,3,1,1,ND,"5d,",4w,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19299,40-30,2,3,1,1,ND,5,f29,f2,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [470]:
df_serving["0"] = df_serving["0"].str.replace('*', 'a')
df_serving

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\42181356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving["0"] = df_serving["0"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15-15,0,0,0,0,ND,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [471]:
df_serving.loc[df_serving["0"].str.contains("6a", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
18,40-30,1,1,0,0,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,40-0,4,4,0,0,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,0-0,0,0,1,0,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,30-15,0,0,1,0,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,40-30,5,3,1,0,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19063,40-30,5,6,2,1,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19101,0-30,2,2,2,2,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19111,0-0,2,4,2,2,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19138,40-40,0,0,0,0,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19197,30-15,0,1,1,0,ND,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [472]:
# Drop all NaN in second serve Column "1" before Analysis
df_second_serve_analysis = df_serving[df_serving['1'].notna()]

In [473]:
df_second_serve_analysis

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0-0,1,1,0,0,ND,4,r37,b+3,m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [474]:
df_second_serve_analysis.loc[df_second_serve_analysis["1"].str.contains("6x", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
6314,0-15,1,1,0,0,ND,"4n,",6x,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [475]:
df_second_serve_analysis["1"] = df_second_serve_analysis["1"].str.replace('*', 'a')
df_second_serve_analysis

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2675711183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_analysis["1"] = df_second_serve_analysis["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0-0,1,1,0,0,ND,4,r37,b+3,m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [476]:
df_second_serve_analysis.loc[df_second_serve_analysis["1"].str.contains("6a", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1527,40-30,0,1,1,0,ND,"4d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2777,40-0,6,5,0,1,ND,"4d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2906,15-0,0,0,0,0,ND,"4d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3809,40-0,3,4,0,1,ND,"4n,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4214,30-15,1,3,0,0,ND,"4n,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5797,15-0,5,3,1,0,ND,"4n,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8350,15-0,0,0,0,0,ND,"6d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8610,40-0,4,3,2,1,ND,"4d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9290,40-AD,1,1,1,0,ND,"4w,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9769,40-0,0,1,1,1,ND,"4n,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10664,40-0,1,2,2,0,ND,"4n,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12106,30-15,1,0,1,1,ND,"4d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14063,40-0,3,2,1,1,ND,"4n,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14408,15-0,4,0,0,0,ND,"6x,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14430,30-15,1,1,1,0,ND,"4d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15107,15-0,3,5,0,0,ND,"4d,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18781,15-0,1,1,0,0,ND,"4n,",6a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [477]:
df

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [478]:
df_returning = df[df.Serving != "ND"]
df_returning

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19317,40-15,5,3,1,1,AM,5,b1d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [479]:
df_returning_2nd = df_returning.loc[df_returning["0"].str.contains(",", case = True)]
df_returning_2nd

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [480]:
df_returning_2nd['1'].value_counts()

1
5       1372
4        896
6        805
6d        53
6n        52
4n        49
5n        49
4d        47
5d        47
c5        24
4w        16
4+        15
6w        15
6*        15
c6        13
c4        12
4*        11
6#         9
5+         9
4x         8
6+         6
4#         4
4x;        2
5d@        2
5#         2
6+d        2
c4n        2
c4d        1
5d;        1
c5n        1
6x         1
c6d        1
6x@        1
5n@        1
cc6+       1
c5d        1
Name: count, dtype: int64

In [481]:
df_returning_2nd["1"].isna().sum()

985

In [482]:
df_returning_2nd.head(100)

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,30-30,1,0,1,1,DM,"6d,",4,f28,f1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,0-15,2,1,1,1,DM,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,40-30,2,1,1,1,DM,"6*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,30-0,3,2,1,1,DM,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,40-0,3,2,1,1,DM,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [483]:
df_returning_2nd["0"] = df_returning_2nd["0"].str.replace('*', 'a')
df_returning_2nd

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\409902628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_2nd["0"] = df_returning_2nd["0"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [484]:
df_returning_2nd.head(100)

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,30-30,1,0,1,1,DM,"6d,",4,f28,f1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,0-15,2,1,1,1,DM,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,40-30,2,1,1,1,DM,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,30-0,3,2,1,1,DM,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,40-0,3,2,1,1,DM,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [485]:
df_returning_2nd.loc[df_returning_2nd["0"].str.contains("a", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
27,0-0,3,2,0,0,CR,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,30-0,1,0,1,0,CR,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,0-0,2,1,1,0,CR,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,40-30,4,1,1,0,CR,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,0-0,5,2,1,0,CR,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19237,0-0,5,3,1,0,AM,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19240,30-15,5,3,1,0,AM,"6a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19271,15-30,0,0,1,1,AM,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19274,40-40,0,0,1,1,AM,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19293,40-0,2,2,1,1,AM,"4a,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [486]:
df_returning_2nd = df_returning_2nd[df_returning_2nd['1'].notna()]

In [487]:
df_returning_2nd

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [488]:
df_returning_2nd["1"].isna().sum()

0

In [489]:
df_returning_2nd

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [490]:
df_returning_2nd["1"].value_counts()

1
5       1372
4        896
6        805
6d        53
6n        52
4n        49
5n        49
4d        47
5d        47
c5        24
4w        16
4+        15
6w        15
6*        15
c6        13
c4        12
4*        11
6#         9
5+         9
4x         8
6+         6
4#         4
4x;        2
5d@        2
5#         2
6+d        2
c4n        2
c4d        1
5d;        1
c5n        1
6x         1
c6d        1
6x@        1
5n@        1
cc6+       1
c5d        1
Name: count, dtype: int64

In [491]:
#df_returning_2nd = df_returning_2nd.loc[df_returning_2nd["1"].str.contains("6d", case = False)]
#df_returning_2nd["1"].value_counts()

In [492]:
df_returning_2nd

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [493]:
df_returning_2nd_4 = df_returning_2nd.loc[df_returning_2nd['1'] == "4"]
df_returning_2nd_4

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
22,40-0,2,1,0,0,CR,"6w,",4,b1d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,40-15,1,0,1,0,CR,"6n,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,15-15,2,1,1,0,CR,"5n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,30-15,1,1,0,0,TF,"4n,",4,b38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,30-15,4,4,0,0,TF,"6d,",4,b37,b2n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19182,40-30,4,3,0,0,AM,"6n,",4,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19209,15-0,2,2,1,0,AM,"6d,",4,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19275,AD-40,0,0,1,1,AM,"4x,",4,b37,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19305,0-15,3,3,1,1,AM,"4n,",4,b38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [494]:
df_returning_2nd_5 = df_returning_2nd.loc[df_returning_2nd['1'] == "5"]
df_returning_2nd_5

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,30-0,4,3,0,0,CR,"6d,",5,f27,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,0-15,6,5,0,0,CR,"4d,",5,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19259,30-15,5,5,1,0,AM,"4d,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19272,30-30,0,0,1,1,AM,"5n,",5,b3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19304,0-0,3,3,1,1,AM,"4x,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [495]:
df_returning_2nd_6 = df_returning_2nd.loc[df_returning_2nd['1'] == "6"]
df_returning_2nd_6

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,40-0,3,2,0,0,CR,"4d,",6,f38,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,30-30,4,3,0,0,CR,"6d,",6,b38,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,15-0,1,1,0,0,TF,"cc4n,",6,f28,f3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19258,15-15,5,5,1,0,AM,"4d,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19260,30-30,5,5,1,0,AM,"6d,",6,b28,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19283,40-0,1,1,1,1,AM,"4w,",6,f18,f#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [496]:
deuce_side_values = ["0-0", "15-15", "30-30", "40-40", "30-0", "0-30", "40-15", "15-40"]
ad_side_values = ["15-0", "0-15", "30-15", "15-30", "40-30", "30-40", "AD-40", "40-AD", "0-40", "40-0"]

In [497]:
df_returning_2nd_4_deuce_side = df_returning_2nd_4.loc[df_returning_2nd_4['Pts'].isin(deuce_side_values)]
df_returning_2nd_4_deuce_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
73,40-15,1,0,1,0,CR,"6n,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,15-15,2,1,1,0,CR,"5n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,40-40,1,0,0,0,DM,"6d,",4,f17,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,0-0,2,1,0,0,DM,"4x,",4,f28,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,40-40,4,3,0,0,DM,"4d,",4,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18551,0-30,0,0,0,1,DT,"6n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18656,30-0,1,2,0,0,AZ,"4n,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18658,40-15,1,2,0,0,AZ,"4d,",4,f28,b+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18901,40-40,2,2,0,1,DI,"6d,",4,f27,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19025,30-0,2,4,2,1,DI,"4d,",4,f17*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [498]:
df_returning_2nd_4_ad_side = df_returning_2nd_4.loc[df_returning_2nd_4['Pts'].isin(ad_side_values)]
df_returning_2nd_4_ad_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
22,40-0,2,1,0,0,CR,"6w,",4,b1d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,30-15,1,1,0,0,TF,"4n,",4,b38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,30-15,4,4,0,0,TF,"6d,",4,b37,b2n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,30-40,5,4,0,1,TF,"4n,",4,b28,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,40-30,1,0,0,0,DM,"4n,",4,b38,b1n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19182,40-30,4,3,0,0,AM,"6n,",4,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19209,15-0,2,2,1,0,AM,"6d,",4,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19275,AD-40,0,0,1,1,AM,"4x,",4,b37,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19305,0-15,3,3,1,1,AM,"4n,",4,b38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [499]:
df_returning_2nd_5_ad_side = df_returning_2nd_5.loc[df_returning_2nd_5["Pts"].isin(ad_side_values)]
df_returning_2nd_5_ad_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,0-15,6,5,0,0,CR,"4d,",5,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,30-15,6,5,0,0,CR,"4w,",5,b38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,40-0,1,0,1,0,CR,"6d,",5,b19,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,0-40,2,2,0,0,TF,"4x,",5,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19098,40-30,2,1,2,2,DI,"4d,",5,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19106,15-0,2,3,2,2,DI,"c4n,",5,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19226,15-0,3,3,1,0,AM,"4x,",5,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19259,30-15,5,5,1,0,AM,"4d,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [500]:
df_returning_2nd_5_deuce_side = df_returning_2nd_5.loc[df_returning_2nd_5["Pts"].isin(deuce_side_values)]
df_returning_2nd_5_deuce_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,30-0,4,3,0,0,CR,"6d,",5,f27,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,30-30,6,5,0,0,CR,"6d,",5,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,40-15,4,1,1,0,CR,"4d,",5,b28,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19144,30-30,1,0,0,0,AM,"6w,",5,b1w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19241,40-15,5,3,1,0,AM,"6x,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19272,30-30,0,0,1,1,AM,"5n,",5,b3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19304,0-0,3,3,1,1,AM,"4x,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [501]:
df_returning_2nd_6_deuce_side = df_returning_2nd_6.loc[df_returning_2nd_6["Pts"].isin(deuce_side_values)]
df_returning_2nd_6_deuce_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,30-30,4,3,0,0,CR,"6d,",6,b38,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,40-40,2,2,1,0,DM,"6n,",6,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,15-15,5,5,1,0,DM,"6n,",6,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,40-40,1,0,1,0,AR,"6n,",6,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19239,30-0,5,3,1,0,AM,"6n,",6,b+39,b#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19258,15-15,5,5,1,0,AM,"4d,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19260,30-30,5,5,1,0,AM,"6d,",6,b28,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [502]:
df_returning_2nd_6_ad_side = df_returning_2nd_6.loc[df_returning_2nd_6["Pts"].isin(ad_side_values)]
df_returning_2nd_6_ad_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,40-0,3,2,0,0,CR,"4d,",6,f38,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,15-0,1,1,0,0,TF,"cc4n,",6,f28,f3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,40-30,3,3,0,0,TF,"4n,",6,f2d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,15-0,2,1,0,1,TF,"4n,",6,f28,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19028,40-30,2,4,2,1,DI,"4n,",6,f39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19053,30-15,5,5,2,1,DI,"4n,",6,f39,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19096,30-15,2,1,2,2,DI,"4+w,",6,f39,s!#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19203,40-0,1,1,1,0,AM,"6d,",6,f19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19283,40-0,1,1,1,1,AM,"4w,",6,f18,f#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [503]:
df_error_on_1 = df_returning_2nd_4_deuce_side.loc[df_returning_2nd_4_deuce_side["2"].str.contains("1", case = True)]

In [504]:
df_error_on_1.loc[df_error_on_1["2"].str.contains("w", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
436,0-0,1,0,1,1,DM,"4n,",4,f1w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10342,40-40,3,2,0,0,MR,"4w,",4,f1w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [505]:
df_error_on_1["2"] = df_error_on_1["2"].str.replace('*', 'a')
df_error_on_1

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2179043250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_1["2"] = df_error_on_1["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
80,15-15,2,1,1,0,CR,"5n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,40-40,1,0,0,0,DM,"6d,",4,f17,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,30-0,1,1,1,0,DM,"6d,",4,f17,f-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,0-0,1,0,1,1,DM,"4n,",4,f1w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,0-30,4,5,1,1,DM,"6w,",4,f18,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,15-15,6,5,1,1,DM,"6n,",4,f18,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,40-40,0,0,1,0,HR,"4d,",4,f18,f+3*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
867,0-0,2,1,1,1,HR,"c4n,",4,f18,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,15-15,4,3,1,1,HR,"6n,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,40-40,5,6,1,1,HR,"4w,",4,f17,f+3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,30-30,3,2,0,0,ST,"4w,",4,f18,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1292,30-30,1,1,1,0,ST,"4w,",4,f18,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,0-0,5,4,0,1,DM,"e,",4,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2335,40-40,3,0,1,1,TVR,"6w,",4,f19,f27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4340,30-30,3,2,0,0,DM,"4w,",4,f18,f3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4462,40-40,2,2,1,1,DM,"4x,",4,f18,f3w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4481,15-15,5,3,1,1,DM,"4d,",4,f18,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4888,30-0,4,5,0,1,DM,"6n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6362,40-40,5,2,0,0,MB,"4d,",4,f1n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7276,40-40,2,4,2,2,ST,"6d,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7727,0-0,4,4,2,0,MB,"4d,",4,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8429,0-0,3,3,1,0,FT,"4d,",4,f18,f+3*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8488,40-40,1,0,1,1,FT,"4n,",4,f18,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8691,15-15,1,0,0,1,DT,"6n,",4,f1d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,30-0,2,1,0,1,DT,"6d,",4,f18,r1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8723,15-15,4,3,0,1,DT,"4w,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8926,0-0,1,1,1,0,ST,"6d,",4,f18,f3n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9063,15-40,0,2,2,1,ST,"4n,",4,f18,f3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,40-40,5,2,1,0,CR,"6d,",4,f1d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9736,40-40,6,5,0,1,GM,"6w,",4,f18,f29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9845,0-0,4,3,0,0,DT,"4x,",4,f17,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9909,0-0,3,4,1,0,DT,"4n,",4,f18,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10026,15-15,4,3,1,2,DT,"6n,",4,f18,f3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10063,40-15,3,1,2,2,DT,"6w,",4,f18,f3w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10103,15-40,0,0,0,0,RF,"6d,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10177,15-40,5,5,0,0,RF,"6d,",4,f18,f+28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10262,30-30,0,1,0,2,RF,"4x,",4,f17,f27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10342,40-40,3,2,0,0,MR,"4w,",4,f1w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10379,40-40,5,4,0,0,MR,"6w,",4,f17,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10508,30-30,5,5,2,0,MR,"4w,",4,f18,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10787,15-15,1,1,1,0,DM,"4n,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10809,0-0,2,4,1,0,DM,"4n,",4,f18,f3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11031,0-0,3,4,0,1,RF,"6d,",4,f17,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11058,30-30,2,1,0,0,DT,"4x,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11242,0-30,5,6,1,1,DT,"c4n,",4,f18,f+39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11608,40-40,5,0,0,0,ST,"4n,",4,f1d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11909,0-0,3,3,1,0,DM,"6w,",4,f18,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13007,40-40,1,3,1,2,HH,"4x,",4,f17,f39+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13098,40-40,0,0,1,0,DK,"6d,",4,f17,u17+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13205,0-0,2,1,0,0,PK,"4w,",4,f1n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13747,0-0,1,1,1,0,DSS,"5d,",4,f19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14714,0-0,6,5,1,0,DM,"6d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15731,40-40,5,5,1,0,RF,"c6n,",4,f18,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16664,15-40,1,3,0,0,KA,"4w,",4,f17,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18018,40-40,1,3,2,0,MC,"4w,",4,f17,f1w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18551,0-30,0,0,0,1,DT,"6n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19025,30-0,2,4,2,1,DI,"4d,",4,f17a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [506]:
df_error_on_1.loc[df_error_on_1["2"].str.contains("f", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
80,15-15,2,1,1,0,CR,"5n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,40-40,1,0,0,0,DM,"6d,",4,f17,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,30-0,1,1,1,0,DM,"6d,",4,f17,f-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,0-0,1,0,1,1,DM,"4n,",4,f1w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,0-30,4,5,1,1,DM,"6w,",4,f18,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,15-15,6,5,1,1,DM,"6n,",4,f18,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,40-40,0,0,1,0,HR,"4d,",4,f18,f+3*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
867,0-0,2,1,1,1,HR,"c4n,",4,f18,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,15-15,4,3,1,1,HR,"6n,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,40-40,5,6,1,1,HR,"4w,",4,f17,f+3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,30-30,3,2,0,0,ST,"4w,",4,f18,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1292,30-30,1,1,1,0,ST,"4w,",4,f18,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,0-0,5,4,0,1,DM,"e,",4,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2335,40-40,3,0,1,1,TVR,"6w,",4,f19,f27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4340,30-30,3,2,0,0,DM,"4w,",4,f18,f3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4462,40-40,2,2,1,1,DM,"4x,",4,f18,f3w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4481,15-15,5,3,1,1,DM,"4d,",4,f18,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4888,30-0,4,5,0,1,DM,"6n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6362,40-40,5,2,0,0,MB,"4d,",4,f1n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7276,40-40,2,4,2,2,ST,"6d,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7727,0-0,4,4,2,0,MB,"4d,",4,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8429,0-0,3,3,1,0,FT,"4d,",4,f18,f+3*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8488,40-40,1,0,1,1,FT,"4n,",4,f18,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8691,15-15,1,0,0,1,DT,"6n,",4,f1d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,30-0,2,1,0,1,DT,"6d,",4,f18,r1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8723,15-15,4,3,0,1,DT,"4w,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8926,0-0,1,1,1,0,ST,"6d,",4,f18,f3n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9063,15-40,0,2,2,1,ST,"4n,",4,f18,f3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9321,40-40,5,2,1,0,CR,"6d,",4,f1d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9736,40-40,6,5,0,1,GM,"6w,",4,f18,f29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9845,0-0,4,3,0,0,DT,"4x,",4,f17,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9909,0-0,3,4,1,0,DT,"4n,",4,f18,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10026,15-15,4,3,1,2,DT,"6n,",4,f18,f3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10063,40-15,3,1,2,2,DT,"6w,",4,f18,f3w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10103,15-40,0,0,0,0,RF,"6d,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10177,15-40,5,5,0,0,RF,"6d,",4,f18,f+28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10262,30-30,0,1,0,2,RF,"4x,",4,f17,f27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10342,40-40,3,2,0,0,MR,"4w,",4,f1w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10379,40-40,5,4,0,0,MR,"6w,",4,f17,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10508,30-30,5,5,2,0,MR,"4w,",4,f18,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10787,15-15,1,1,1,0,DM,"4n,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10809,0-0,2,4,1,0,DM,"4n,",4,f18,f3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11031,0-0,3,4,0,1,RF,"6d,",4,f17,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11058,30-30,2,1,0,0,DT,"4x,",4,f1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11242,0-30,5,6,1,1,DT,"c4n,",4,f18,f+39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11608,40-40,5,0,0,0,ST,"4n,",4,f1d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11909,0-0,3,3,1,0,DM,"6w,",4,f18,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13007,40-40,1,3,1,2,HH,"4x,",4,f17,f39+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13098,40-40,0,0,1,0,DK,"6d,",4,f17,u17+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13205,0-0,2,1,0,0,PK,"4w,",4,f1n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13747,0-0,1,1,1,0,DSS,"5d,",4,f19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14714,0-0,6,5,1,0,DM,"6d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15731,40-40,5,5,1,0,RF,"c6n,",4,f18,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16664,15-40,1,3,0,0,KA,"4w,",4,f17,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18018,40-40,1,3,2,0,MC,"4w,",4,f17,f1w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18551,0-30,0,0,0,1,DT,"6n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19025,30-0,2,4,2,1,DI,"4d,",4,f17a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [507]:
df_error_on_2 = df_returning_2nd_4_deuce_side.loc[df_returning_2nd_4_deuce_side["2"].str.contains("2", case = True)]
df_error_on_2

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
297,0-0,2,1,0,0,DM,"4x,",4,f28,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,30-30,1,0,1,1,DM,"6d,",4,f28,f1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,0-0,2,4,0,0,ST,"6d,",4,f2d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,40-15,0,0,0,1,ST,"4w,",4,f28,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,0-0,1,0,0,0,HR,"4x,",4,f29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17798,15-40,5,4,0,0,GD,"4d,",4,f28,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18186,40-15,5,4,0,0,JM,"6d,",4,f28,f!@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18248,30-0,3,3,1,0,JM,"4w,",4,f28,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18658,40-15,1,2,0,0,AZ,"4d,",4,f28,b+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18901,40-40,2,2,0,1,DI,"6d,",4,f27,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [508]:
df_error_on_2.loc[df_error_on_2["2"].str.contains("r", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1897,15-15,5,5,2,1,NK,"6w,",4,r2,f+2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15341,0-0,2,2,0,0,JI,"5d,",4,r27,f+1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [509]:
df_error_on_2["2"] = df_error_on_2["2"].str.replace('*', 'a')
df_error_on_2.loc[df_error_on_2["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3784607566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_2["2"] = df_error_on_2["2"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [510]:
df_error_on_2

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
297,0-0,2,1,0,0,DM,"4x,",4,f28,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,30-30,1,0,1,1,DM,"6d,",4,f28,f1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,0-0,2,4,0,0,ST,"6d,",4,f2d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,40-15,0,0,0,1,ST,"4w,",4,f28,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,0-0,1,0,0,0,HR,"4x,",4,f29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17798,15-40,5,4,0,0,GD,"4d,",4,f28,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18186,40-15,5,4,0,0,JM,"6d,",4,f28,f!@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18248,30-0,3,3,1,0,JM,"4w,",4,f28,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18658,40-15,1,2,0,0,AZ,"4d,",4,f28,b+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18901,40-40,2,2,0,1,DI,"6d,",4,f27,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [511]:
df_error_on_3 = df_returning_2nd_4_deuce_side.loc[df_returning_2nd_4_deuce_side["2"].str.contains("3", case = True)]
df_error_on_3

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
73,40-15,1,0,1,0,CR,"6n,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,40-40,4,3,0,0,DM,"4d,",4,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,15-40,0,0,1,0,HR,"c4d,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,30-0,0,0,1,0,ST,"4x,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1426,0-0,4,3,0,1,DM,"6d,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4111,40-40,2,1,0,0,AR,"6n,",4,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4412,0-30,5,2,0,1,DM,"4x,",4,f3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4432,0-0,0,0,1,1,DM,"6d,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4531,30-30,5,3,0,0,HH,"6n,",4,f+38,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4868,30-0,2,3,0,1,DM,"6d,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,0-0,5,1,0,0,JB,"6n,",4,f38*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5735,15-15,4,1,0,0,TG,"6w,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6569,40-40,5,3,2,1,MB,"4n,",4,f38,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6840,30-30,5,2,0,0,MF,"6d,",4,f38w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8209,0-0,3,0,0,0,DM,"4d,",4,f38*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8343,0-0,5,2,2,0,DM,"6n,",4,f38,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8407,15-40,1,1,1,0,FT,"6n,",4,f38,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8536,40-40,5,4,1,1,FT,"6w,",4,f38,s3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9538,0-0,4,3,0,0,ST,"5d,",4,f38,s3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,30-0,2,1,1,2,DT,"6d,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10546,30-30,1,0,0,0,DSS,"6n,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10625,30-0,4,2,1,0,DSS,"4d,",4,f38,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10685,30-30,4,2,2,0,DSS,"5d,",4,f38*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10969,0-0,3,4,0,0,RF,"6w,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11009,15-15,2,1,0,1,RF,"6w,",4,f38,s3w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12100,15-15,0,0,1,1,RF,"6w,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12301,0-0,5,6,2,2,RF,"c4w,",4,f37,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12558,0-0,0,0,2,1,RBA,"4n,",4,f37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12643,30-0,2,1,0,0,DG,"6d,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12821,30-0,3,3,0,0,HH,"6d,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13323,0-30,1,1,2,0,PK,"6n,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14559,40-15,0,0,1,0,KN,"4n,",4,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14671,30-30,2,1,1,0,DM,"4w,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14682,30-30,4,1,1,0,DM,"6n,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14747,15-15,1,1,1,1,DM,"4w,",4,f39,b3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14771,40-40,2,2,1,1,DM,"4w,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14829,0-0,4,2,2,1,DM,"4d,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14856,30-30,1,0,0,0,RBA,"6d,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14923,0-0,2,2,1,0,RBA,"4n,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15115,40-15,4,5,0,0,NB,"4x,",4,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15305,0-0,1,5,0,1,KA,"6w,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15601,0-0,3,2,0,0,RF,"4x,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15614,30-30,4,3,0,0,RF,"4n,",4,f;39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15729,30-30,5,5,1,0,RF,"4n,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15841,30-30,3,2,0,0,BC,"6d,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15880,40-40,2,0,1,0,BC,"6d,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16216,40-40,0,0,1,0,KN,"4x,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16911,0-0,3,1,0,1,RN,"4d,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16983,30-0,3,4,1,1,RN,"4n,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17093,0-0,0,1,2,2,RN,"6n,",4,f38,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17358,0-30,5,2,1,1,KN,"5n,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18656,30-0,1,2,0,0,AZ,"4n,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [512]:
df_error_on_3.loc[df_error_on_3["2"].str.contains("f", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
73,40-15,1,0,1,0,CR,"6n,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,40-40,4,3,0,0,DM,"4d,",4,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,15-40,0,0,1,0,HR,"c4d,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,30-0,0,0,1,0,ST,"4x,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1426,0-0,4,3,0,1,DM,"6d,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4111,40-40,2,1,0,0,AR,"6n,",4,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4412,0-30,5,2,0,1,DM,"4x,",4,f3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4432,0-0,0,0,1,1,DM,"6d,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4531,30-30,5,3,0,0,HH,"6n,",4,f+38,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4868,30-0,2,3,0,1,DM,"6d,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,0-0,5,1,0,0,JB,"6n,",4,f38*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5735,15-15,4,1,0,0,TG,"6w,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6569,40-40,5,3,2,1,MB,"4n,",4,f38,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6840,30-30,5,2,0,0,MF,"6d,",4,f38w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8209,0-0,3,0,0,0,DM,"4d,",4,f38*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8343,0-0,5,2,2,0,DM,"6n,",4,f38,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8407,15-40,1,1,1,0,FT,"6n,",4,f38,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8536,40-40,5,4,1,1,FT,"6w,",4,f38,s3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9538,0-0,4,3,0,0,ST,"5d,",4,f38,s3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,30-0,2,1,1,2,DT,"6d,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10546,30-30,1,0,0,0,DSS,"6n,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10625,30-0,4,2,1,0,DSS,"4d,",4,f38,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10685,30-30,4,2,2,0,DSS,"5d,",4,f38*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10969,0-0,3,4,0,0,RF,"6w,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11009,15-15,2,1,0,1,RF,"6w,",4,f38,s3w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12100,15-15,0,0,1,1,RF,"6w,",4,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12301,0-0,5,6,2,2,RF,"c4w,",4,f37,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12558,0-0,0,0,2,1,RBA,"4n,",4,f37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12643,30-0,2,1,0,0,DG,"6d,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12821,30-0,3,3,0,0,HH,"6d,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13323,0-30,1,1,2,0,PK,"6n,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14559,40-15,0,0,1,0,KN,"4n,",4,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14671,30-30,2,1,1,0,DM,"4w,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14682,30-30,4,1,1,0,DM,"6n,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14747,15-15,1,1,1,1,DM,"4w,",4,f39,b3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14771,40-40,2,2,1,1,DM,"4w,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14829,0-0,4,2,2,1,DM,"4d,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14856,30-30,1,0,0,0,RBA,"6d,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14923,0-0,2,2,1,0,RBA,"4n,",4,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15115,40-15,4,5,0,0,NB,"4x,",4,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15305,0-0,1,5,0,1,KA,"6w,",4,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15601,0-0,3,2,0,0,RF,"4x,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15614,30-30,4,3,0,0,RF,"4n,",4,f;39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15729,30-30,5,5,1,0,RF,"4n,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15841,30-30,3,2,0,0,BC,"6d,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15880,40-40,2,0,1,0,BC,"6d,",4,f38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16216,40-40,0,0,1,0,KN,"4x,",4,f38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16911,0-0,3,1,0,1,RN,"4d,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16983,30-0,3,4,1,1,RN,"4n,",4,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17093,0-0,0,1,2,2,RN,"6n,",4,f38,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17358,0-30,5,2,1,1,KN,"5n,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18656,30-0,1,2,0,0,AZ,"4n,",4,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [513]:
df_error_on_3["2"] = df_error_on_3["2"].str.replace('*', 'a')
df_error_on_3.loc[df_error_on_3["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1178931581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_3["2"] = df_error_on_3["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1281,30-0,0,0,1,0,ST,"4x,",4,f39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,0-0,5,1,0,0,JB,"6n,",4,f38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8209,0-0,3,0,0,0,DM,"4d,",4,f38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,30-0,2,1,1,2,DT,"6d,",4,f39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10685,30-30,4,2,2,0,DSS,"5d,",4,f38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12821,30-0,3,3,0,0,HH,"6d,",4,f39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16911,0-0,3,1,0,1,RN,"4d,",4,f39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16983,30-0,3,4,1,1,RN,"4n,",4,f39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [514]:
df_error_on_1.loc[df_error_on_1["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
2335,40-40,3,0,1,1,TVR,"6w,",4,f19,f27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13747,0-0,1,1,1,0,DSS,"5d,",4,f19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14714,0-0,6,5,1,0,DM,"6d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [515]:
df_returning_2nd_5_deuce_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
7,15-15,1,0,0,0,CR,"6n,",5,f28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,15-40,1,0,0,0,CR,"6d,",5,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,30-0,4,3,0,0,CR,"6d,",5,f27,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,30-30,6,5,0,0,CR,"6d,",5,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,40-15,4,1,1,0,CR,"4d,",5,b28,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19144,30-30,1,0,0,0,AM,"6w,",5,b1w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19241,40-15,5,3,1,0,AM,"6x,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19272,30-30,0,0,1,1,AM,"5n,",5,b3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19304,0-0,3,3,1,1,AM,"4x,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [516]:
df_error_on_1_serve_5 = df_returning_2nd_5_deuce_side.loc[df_returning_2nd_5_deuce_side["2"].str.contains("1", case = True)]
len(df_error_on_1_serve_5)

118

In [517]:
df_error_on_2_serve_5 = df_returning_2nd_5_deuce_side.loc[df_returning_2nd_5_deuce_side["2"].str.contains("2", case = True)]
len(df_error_on_2_serve_5)

457

In [518]:
df_error_on_3_serve_5 = df_returning_2nd_5_deuce_side.loc[df_returning_2nd_5_deuce_side["2"].str.contains("3", case = True)]
len(df_error_on_3_serve_5)

153

In [519]:
df_error_on_1_serve_5.loc[df_error_on_1_serve_5["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
717,0-0,4,4,0,1,ST,"4w,",5,b19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,0-0,2,0,1,0,MC,"6n,",5,b19,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,0-0,2,3,0,1,JS,"6d,",5,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7133,0-0,1,2,2,0,ST,"4n,",5,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7711,40-15,2,2,2,0,MB,"6d,",5,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8065,0-0,2,3,0,0,DE,"6w,",5,b19,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8189,0-0,5,6,0,1,DE,"4n,",5,b19,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8579,40-40,1,1,2,1,FT,"6n,",5,b19,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10404,15-15,2,1,1,0,MR,"6w,",5,b19,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10510,40-40,5,5,2,0,MR,"4w,",5,b19,f2d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11151,40-15,1,3,1,0,DT,"6d,",5,b19,f3w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11240,0-0,5,6,1,1,DT,"6d,",5,f19,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12289,0-0,4,5,2,2,RF,"6d,",5,b19,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12669,40-40,3,4,0,0,DG,"4d,",5,b19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12802,0-0,2,2,0,0,HH,"6n,",5,b19,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12819,0-0,3,3,0,0,HH,"4d,",5,f19,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12844,40-40,5,5,0,0,HH,"4w,",5,b19,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13108,15-15,1,1,1,0,DK,"5n,",5,b19,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14424,30-0,1,0,1,0,LP,"6n,",5,b19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14745,0-0,1,1,1,1,DM,"4n,",5,b19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15235,15-15,0,2,0,0,KA,"6d,",5,b19,f3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15448,0-30,2,1,0,0,KK,"6n,",5,b19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16860,0-0,3,3,0,0,RN,"4n,",5,b19,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17638,40-15,1,0,0,0,AM,"4d,",5,f19,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17774,30-0,3,2,0,0,GD,"6n,",5,b19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18317,30-0,5,3,2,0,JM,"4x,",5,f19,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [520]:
df_error_on_2_serve_5.loc[df_error_on_2_serve_5["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
114,15-15,0,0,0,0,TF,"6w,",5,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,40-15,3,2,0,0,AR,"4n,",5,f29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,30-0,1,3,0,0,ST,"6d,",5,b29,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,15-15,3,5,0,0,ST,"4w,",5,f29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1290,15-15,1,1,1,0,ST,"4n,",5,b29,f3w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18945,0-0,0,0,1,1,DI,"4n,",5,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19050,0-0,5,5,2,1,DI,"6d,",5,f29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19241,40-15,5,3,1,0,AM,"6x,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19304,0-0,3,3,1,1,AM,"4x,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19313,0-0,5,3,1,1,AM,"6d,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [521]:
df_error_on_3_serve_5.loc[df_error_on_3_serve_5["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
533,30-0,1,0,0,0,AR,"6n,",5,b39,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1540,15-15,3,1,1,0,BVD,"4w,",5,f39,s38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3805,15-40,2,4,0,1,ADF,"4x,",5,f39,b19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6325,40-40,2,1,0,0,MB,"6d,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7007,30-0,1,1,0,0,ST,"6w,",5,f39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7595,40-40,2,1,0,0,MB,"4x,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7658,15-40,2,2,1,0,MB,"6d,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7768,0-0,1,0,2,1,MB,"6x,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8117,15-15,1,0,0,1,DE,"6n,",5,f39,s29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10460,30-0,1,1,2,0,MR,"6d,",5,b39,s38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10687,40-40,4,2,2,0,DSS,"4n,",5,b39,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11332,0-0,4,1,1,0,MB,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11763,40-15,5,5,1,0,ST,"c4w,",5,b39,s29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12689,30-0,1,0,1,0,DG,"6n,",5,b39,b3#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12867,30-30,1,1,0,1,HH,"4w,",5,b39,b19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12980,0-0,0,0,1,2,HH,"4n,",5,f39,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13363,30-30,5,3,2,0,PK,"5d,",5,b39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16021,40-15,3,1,1,0,JMD,"6n,",5,b39,s1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18571,30-0,0,2,0,1,DT,"6d,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18777,30-0,1,0,0,0,DI,"4w,",5,f39,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18793,40-40,2,1,0,0,DI,"6n,",5,f39,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [522]:

df_error_on_1_serve_5["2"] = df_error_on_1_serve_5["2"].str.replace('*', 'a')
df_error_on_1_serve_5.loc[df_error_on_1_serve_5["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3022769334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_1_serve_5["2"] = df_error_on_1_serve_5["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
7897,30-0,1,1,1,0,LS,"5n,",5,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11125,30-0,0,0,1,0,DT,"4x,",5,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13789,0-0,3,5,1,0,DSS,"6d,",5,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14411,0-0,5,0,0,0,LP,"6d,",5,b18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [523]:

df_error_on_2_serve_5["2"] = df_error_on_2_serve_5["2"].str.replace('*', 'a')
df_error_on_2_serve_5.loc[df_error_on_2_serve_5["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2597861010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_2_serve_5["2"] = df_error_on_2_serve_5["2"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [524]:

df_error_on_3_serve_5["2"] = df_error_on_3_serve_5["2"].str.replace('*', 'a')
df_error_on_3_serve_5.loc[df_error_on_3_serve_5["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\880598096.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_3_serve_5["2"] = df_error_on_3_serve_5["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
3742,0-0,0,0,0,1,ADF,"4n,",5,f37a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9164,30-30,5,1,2,2,ST,"6n,",5,f38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13363,30-30,5,3,2,0,PK,"5d,",5,b39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14413,15-15,5,0,0,0,LP,"c6d,",5,b38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14844,0-30,5,3,2,1,DM,"4x,",5,b38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [525]:
df_returning_2nd_6_deuce_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5,0-0,1,0,0,0,CR,"4n,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,30-30,4,3,0,0,CR,"6d,",6,b38,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,40-40,2,2,1,0,DM,"6n,",6,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,15-15,5,5,1,0,DM,"6n,",6,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,40-40,1,0,1,0,AR,"6n,",6,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19239,30-0,5,3,1,0,AM,"6n,",6,b+39,b#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19258,15-15,5,5,1,0,AM,"4d,",6,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19260,30-30,5,5,1,0,AM,"6d,",6,b28,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19306,0-30,3,3,1,1,AM,"4w,",6,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19315,30-0,5,3,1,1,AM,"6n,",6,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [526]:
df_error_on_1_serve_6 = df_returning_2nd_6_deuce_side.loc[df_returning_2nd_6_deuce_side["2"].str.contains("1", case = True)]
len(df_error_on_1_serve_6)

49

In [527]:
df_error_on_2_serve_6 = df_returning_2nd_6_deuce_side.loc[df_returning_2nd_6_deuce_side["2"].str.contains("2", case = True)]
len(df_error_on_2_serve_6)

309

In [528]:
df_error_on_3_serve_6 = df_returning_2nd_6_deuce_side.loc[df_returning_2nd_6_deuce_side["2"].str.contains("3", case = True)]
len(df_error_on_3_serve_6)

144

In [529]:
df_error_on_1_serve_6.loc[df_error_on_1_serve_6["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
815,0-0,0,2,1,0,HR,"6x,",6,b19,f3x#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3369,0-0,5,3,1,0,HH,"6n,",6,b19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3515,30-30,2,1,0,0,AR,"4n,",6,b19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3599,40-15,5,4,0,1,AR,"6w,",6,b19,rn#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7373,0-0,0,1,1,0,RN,"6n,",6,b19,b19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7395,0-30,2,3,1,0,RN,"5n,",6,b19,b18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10602,0-0,2,0,1,0,DSS,"5d,",6,b19,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15578,40-40,1,0,0,0,RF,"c4n,",6,b19,h=3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17726,40-40,2,1,1,0,AM,"6n,",6,b19,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18020,40-40,1,3,2,0,MC,"4n,",6,b19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18370,0-0,5,3,0,0,RN,"6d,",6,b19,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18445,40-40,4,3,1,0,RN,"4n,",6,b19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18510,30-0,4,3,0,0,DT,"6w,",6,b19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [530]:
df_error_on_2_serve_6.loc[df_error_on_2_serve_6["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
594,40-40,1,0,1,0,AR,"6n,",6,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,0-0,5,2,0,0,ST,"6x,",6,s29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1272,0-30,4,3,0,0,ST,"4w,",6,b29,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1302,0-0,2,2,1,0,ST,"4d,",6,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,30-30,0,0,1,2,JS,"5d,",6,b29,f1d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18037,15-15,0,1,2,1,MC,"4d,",6,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18587,0-0,2,4,0,1,DT,"4n,",6,b29,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18646,15-15,0,1,0,0,AZ,"4n,",6,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19158,30-0,2,1,0,0,AM,"6d,",6,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19189,0-0,0,0,1,0,AM,"4d,",6,b29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [531]:
df_error_on_3_serve_6.loc[df_error_on_3_serve_6["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1274,15-40,4,3,0,0,ST,"6w,",6,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985,40-15,2,1,1,0,FAA,"c4n,",6,b39,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5306,30-0,4,3,0,0,MB,"4n,",6,b39,b2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6064,0-0,1,0,0,0,AZ,"6x,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6184,0-0,0,3,1,1,AZ,"4d,",6,b+39,b1x#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6219,15-15,1,0,0,0,KN,"6d,",6,b39,b38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7646,30-0,1,1,1,0,MB,"4w,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8129,0-0,3,0,0,1,DE,"5d,",6,b39,s1n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8143,30-0,3,2,0,1,DE,"6n,",6,b39,s28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8559,0-0,0,0,2,1,FT,"4n,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8797,15-15,2,2,1,1,DT,"6n,",6,b39,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8938,0-0,2,2,1,0,ST,"4n,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9257,0-30,6,5,0,0,CR,"4n,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10175,15-15,5,5,0,0,RF,"4+d,",6,b39,b27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11307,15-15,1,0,1,0,MB,"6n,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11464,0-0,2,1,0,0,GD,"6w,",6,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11524,0-0,0,0,1,0,GD,"4n,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11639,0-30,3,1,1,0,ST,"4w,",6,b39,s2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13655,40-40,2,4,2,2,DT,"4w,",6,b39,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13699,30-0,1,0,0,0,DSS,"5d,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14222,0-0,4,4,1,0,DT,"6w,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17230,40-15,3,2,0,0,KN,"5n,",6,b39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17848,0-0,0,0,0,0,MC,"5n,",6,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17930,40-15,2,3,1,0,MC,"6d,",6,b39,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18140,15-15,0,1,0,0,JM,"4x,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18148,0-0,2,1,0,0,JM,"5d,",6,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18589,15-15,2,4,0,1,DT,"4w,",6,b39,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18828,40-40,3,4,0,0,DI,"6d,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18832,40-40,3,4,0,0,DI,"c4n,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19167,15-15,3,2,0,0,AM,"6x,",6,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19239,30-0,5,3,1,0,AM,"6n,",6,b+39,b#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [532]:
df_error_on_1_serve_6["2"] = df_error_on_1_serve_6["2"].str.replace('*', 'a')
df_error_on_1_serve_6.loc[df_error_on_1_serve_6["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1799297380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_1_serve_6["2"] = df_error_on_1_serve_6["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
18020,40-40,1,3,2,0,MC,"4n,",6,b19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [533]:
df_error_on_2_serve_6["2"] = df_error_on_2_serve_6["2"].str.replace('*', 'a')
df_error_on_2_serve_6.loc[df_error_on_2_serve_6["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1440682270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_2_serve_6["2"] = df_error_on_2_serve_6["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
4400,30-0,4,1,0,1,DM,"4d,",6,b29a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [534]:
df_error_on_3_serve_6["2"] = df_error_on_3_serve_6["2"].str.replace('*', 'a')
df_error_on_3_serve_6.loc[df_error_on_3_serve_6["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3538630405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_3_serve_6["2"] = df_error_on_3_serve_6["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
17230,40-15,3,2,0,0,KN,"5n,",6,b39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [535]:
df_returning_2nd_4_ad_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
22,40-0,2,1,0,0,CR,"6w,",4,b1d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,30-15,1,1,0,0,TF,"4n,",4,b38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,30-15,4,4,0,0,TF,"6d,",4,b37,b2n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,30-40,5,4,0,1,TF,"4n,",4,b28,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,40-30,1,0,0,0,DM,"4n,",4,b38,b1n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19182,40-30,4,3,0,0,AM,"6n,",4,b37,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19209,15-0,2,2,1,0,AM,"6d,",4,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19275,AD-40,0,0,1,1,AM,"4x,",4,b37,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19305,0-15,3,3,1,1,AM,"4n,",4,b38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19314,15-0,5,3,1,1,AM,"4d,",4,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [536]:
df_error_on_1_serve_4_ad = df_returning_2nd_4_ad_side.loc[df_returning_2nd_4_ad_side["2"].str.contains("1", case = True)]
len(df_error_on_1_serve_4_ad)

24

In [537]:
df_error_on_2_serve_4_ad = df_returning_2nd_4_ad_side.loc[df_returning_2nd_4_ad_side["2"].str.contains("2", case = True)]
len(df_error_on_2_serve_4_ad)

168

In [538]:
df_error_on_3_serve_4_ad = df_returning_2nd_4_ad_side.loc[df_returning_2nd_4_ad_side["2"].str.contains("3", case = True)]
len(df_error_on_3_serve_4_ad)

409

In [539]:
df_error_on_1_serve_4_ad.loc[df_error_on_1_serve_4_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
7451,15-0,2,2,1,1,RN,"4w,",4,b19,b17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9161,15-0,5,1,2,2,ST,"4x,",4,b19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19055,40-30,5,5,2,1,DI,"6w,",4,b19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [540]:
df_error_on_2_serve_4_ad.loc[df_error_on_2_serve_4_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
987,15-30,1,0,1,0,ST,"5n,",4,b29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2232,15-30,5,2,0,0,TVR,"6d,",4,b29,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2709,40-AD,0,4,0,0,ST,"6n,",4,b29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3279,0-15,1,0,0,0,HH,"6d,",4,b29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4320,30-15,0,1,0,0,DM,"6d,",4,b29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5758,30-15,1,0,1,0,TG,"4d,",4,b29,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5901,40-0,3,4,0,0,PCB,"6d,",4,b29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6201,40-30,1,4,1,1,AZ,"4w,",4,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6858,15-30,0,0,1,0,MF,"6n,",4,b29,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6866,AD-40,0,0,1,0,MF,"6n,",4,b29,b27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7082,40-30,1,0,1,0,ST,"6n,",4,f29,f2d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7374,0-15,0,1,1,0,RN,"4n,",4,b29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7398,30-40,2,3,1,0,RN,"5d,",4,b29,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8072,AD-40,2,3,0,0,DE,"4d,",4,b29,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8333,15-0,4,1,2,0,DM,"6d,",4,b29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10361,AD-40,4,3,0,0,MR,"5n,",4,b29,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10407,30-40,2,1,1,0,MR,"4n,",4,b29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10437,40-0,5,2,1,0,MR,"4x;,",4,b29,f!3#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10744,0-40,4,1,0,0,DM,"4d,",4,b29,f29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10827,30-15,4,4,1,0,DM,"6g,",4,b29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11500,30-15,5,4,0,0,GD,"6n,",4,b29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11914,40-30,3,3,1,0,DM,"4g,",4,s29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12700,0-15,3,0,1,0,DG,"4w,",4,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13292,0-40,4,4,1,0,PK,"4n,",4,b29,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13340,40-AD,2,2,2,0,PK,"4n,",4,b29,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13342,40-AD,2,2,2,0,PK,"6d,",4,b29,h39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13399,40-0,2,5,0,0,DT,"6n,",4,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13706,15-0,2,1,0,0,DSS,"6d,",4,b29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14100,15-0,1,2,0,0,DT,"6n,",4,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14524,15-0,3,0,0,0,KN,"4d,",4,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15250,40-0,1,3,0,0,KA,"4d,",4,b29,f#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15368,15-0,3,5,0,0,JI,"5d,",4,s29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16992,15-0,4,5,1,1,RN,"4n,",4,b29,i=1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17260,AD-40,0,0,1,0,KN,"4n,",4,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18570,15-0,0,2,0,1,DT,"4n,",4,b29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19026,30-15,2,4,2,1,DI,"6n,",4,b29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19051,15-0,5,5,2,1,DI,"6x,",4,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19170,40-30,3,2,0,0,AM,"6d,",4,b29,f3w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [541]:
df_error_on_3_serve_4_ad.loc[df_error_on_3_serve_4_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
290,AD-40,1,0,0,0,DM,"4w,",4,b39,y1n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,30-15,3,2,0,0,DM,"4d,",4,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,15-0,1,1,1,0,DM,"4x,",4,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,15-0,1,0,0,0,AR,"4d,",4,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,40-30,3,2,0,0,AR,"4d,",4,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17974,AD-40,5,6,1,0,MC,"4x,",4,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18165,40-30,4,1,0,0,JM,"6d,",4,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18212,AD-40,0,0,1,0,JM,"6d,",4,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18588,15-0,2,4,0,1,DT,"6n,",4,b39,b3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18600,15-0,3,5,0,1,DT,"4n,",4,b39,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [542]:
df_error_on_1_serve_4_ad["2"] = df_error_on_1_serve_4_ad["2"].str.replace('*', 'a')
df_error_on_1_serve_4_ad.loc[df_error_on_1_serve_4_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1782693014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_1_serve_4_ad["2"] = df_error_on_1_serve_4_ad["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
9978,AD-40,2,5,1,1,DT,"4w,",4,b17a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19055,40-30,5,5,2,1,DI,"6w,",4,b19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [543]:
df_error_on_2_serve_4_ad["2"] = df_error_on_2_serve_4_ad["2"].str.replace('*', 'a')
df_error_on_2_serve_4_ad.loc[df_error_on_2_serve_4_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2899570969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_2_serve_4_ad["2"] = df_error_on_2_serve_4_ad["2"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [544]:
df_error_on_3_serve_4_ad["2"] = df_error_on_3_serve_4_ad["2"].str.replace('*', 'a')
df_error_on_3_serve_4_ad.loc[df_error_on_3_serve_4_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1323800492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_3_serve_4_ad["2"] = df_error_on_3_serve_4_ad["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
3604,AD-40,5,4,0,1,AR,"6w,",4,b38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4457,15-0,2,2,1,1,DM,"4d,",4,f38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6296,40-AD,5,0,1,0,KN,"4n,",4,b38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11365,40-30,3,0,0,0,DS,"4n,",4,f39a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14528,40-30,3,0,0,0,KN,"4n,",4,b38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [545]:
df_returning_2nd_5_ad_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
6,15-0,1,0,0,0,CR,"4n,",5,b38,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,0-15,6,5,0,0,CR,"4d,",5,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,30-15,6,5,0,0,CR,"4w,",5,b38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,40-0,1,0,1,0,CR,"6d,",5,b19,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,0-40,2,2,0,0,TF,"4x,",5,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19098,40-30,2,1,2,2,DI,"4d,",5,b38,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19106,15-0,2,3,2,2,DI,"c4n,",5,b37,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19226,15-0,3,3,1,0,AM,"4x,",5,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19259,30-15,5,5,1,0,AM,"4d,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [546]:
df_error_on_1_serve_5_ad = df_returning_2nd_5_ad_side.loc[df_returning_2nd_5_ad_side["2"].str.contains("1", case = True)]
len(df_error_on_1_serve_5_ad)

39

In [547]:
df_error_on_2_serve_5_ad = df_returning_2nd_5_ad_side.loc[df_returning_2nd_5_ad_side["2"].str.contains("2", case = True)]
len(df_error_on_2_serve_5_ad)

227

In [548]:
df_error_on_3_serve_5_ad = df_returning_2nd_5_ad_side.loc[df_returning_2nd_5_ad_side["2"].str.contains("3", case = True)]
len(df_error_on_3_serve_5_ad)

303

In [549]:
df_error_on_1_serve_5_ad.loc[df_error_on_1_serve_5_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
72,40-0,1,0,1,0,CR,"6d,",5,b19,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,40-0,3,3,0,1,ST,"4w,",5,f19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3707,40-0,1,2,0,0,ADF,"6n,",5,f19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,30-15,3,4,0,0,ADF,"6d,",5,f19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6821,0-15,5,0,0,0,MF,"4d,",5,b19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7740,15-0,5,5,2,0,MB,"4w,",5,f19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11109,40-0,6,5,0,0,DT,"4n,",5,b19,r37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11640,0-40,3,1,1,0,ST,"6n,",5,b19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11672,40-0,3,0,0,0,ST,"6d,",5,f19,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13176,30-40,4,2,2,0,DK,"6x,",5,b19,f3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14400,30-15,3,0,0,0,LP,"6n,",5,f19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14444,15-0,4,1,1,0,LP,"6d,",5,b19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18914,40-0,3,3,0,1,DI,"6n,",5,b19,r1n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [550]:
df_error_on_2_serve_5_ad.loc[df_error_on_2_serve_5_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
139,0-40,2,2,0,0,TF,"4x,",5,b29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,15-0,5,5,0,0,TF,"4d,",5,b29,b2d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,30-40,0,0,0,0,ST,"4n,",5,b29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1074,15-0,4,4,1,1,ST,"6n,",5,b29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1078,30-40,4,4,1,1,ST,"4x,",5,b29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18347,15-0,2,2,0,0,RN,"5d,",5,f29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18406,15-0,0,1,1,0,RN,"6d,",5,f29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18885,15-30,1,1,0,1,DI,"4d,",5,b29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18940,30-40,5,5,0,1,DI,"4n,",5,b29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19086,40-30,1,0,2,2,DI,"4n,",5,f29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [551]:
df_error_on_3_serve_5_ad.loc[df_error_on_3_serve_5_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
597,40-AD,1,0,1,0,AR,"6n,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
822,AD-40,0,2,1,0,HR,"4d,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,0-15,1,0,1,0,ST,"5d,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055,15-0,2,2,1,1,ST,"6d,",5,b39,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1511,30-15,5,2,0,0,BVD,"6n,",5,f39w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17510,AD-40,1,0,1,0,MC,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17535,15-0,4,3,1,0,MC,"4w,",5,b39,b2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18304,0-15,3,3,2,0,JM,"6d,",5,b39,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18373,15-30,5,3,0,0,RN,"6d,",5,b39,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19259,30-15,5,5,1,0,AM,"4d,",5,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [552]:
df_error_on_1_serve_5_ad["2"] = df_error_on_1_serve_5_ad["2"].str.replace('*', 'a')
df_error_on_1_serve_5_ad.loc[df_error_on_1_serve_5_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1762380381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_1_serve_5_ad["2"] = df_error_on_1_serve_5_ad["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
709,40-0,3,3,0,1,ST,"4w,",5,f19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,30-15,2,1,1,0,ST,"4w,",5,b18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3707,40-0,1,2,0,0,ADF,"6n,",5,f19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3733,30-15,3,4,0,0,ADF,"6d,",5,f19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6821,0-15,5,0,0,0,MF,"4d,",5,b19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7250,40-30,1,1,2,2,ST,"4x,",5,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7740,15-0,5,5,2,0,MB,"4w,",5,f19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11640,0-40,3,1,1,0,ST,"6n,",5,b19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14400,30-15,3,0,0,0,LP,"6n,",5,f19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14444,15-0,4,1,1,0,LP,"6d,",5,b19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19316,40-0,5,3,1,1,AM,"4n,",5,b18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [553]:
df_error_on_2_serve_5_ad["2"] = df_error_on_2_serve_5_ad["2"].str.replace('*', 'a')
df_error_on_2_serve_5_ad.loc[df_error_on_2_serve_5_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3983079393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_2_serve_5_ad["2"] = df_error_on_2_serve_5_ad["2"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [554]:
df_error_on_3_serve_5_ad["2"] = df_error_on_3_serve_5_ad["2"].str.replace('*', 'a')
df_error_on_3_serve_5_ad.loc[df_error_on_3_serve_5_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\4234083445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_3_serve_5_ad["2"] = df_error_on_3_serve_5_ad["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
7412,15-0,2,5,1,0,RN,"6n,",5,b37a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16843,15-0,2,2,0,0,RN,"4w,",5,f38a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [555]:
df_returning_2nd_6_ad_side

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
8,15-30,1,0,0,0,CR,"4d,",6,f38,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,40-0,3,2,0,0,CR,"4d,",6,f38,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,15-0,1,1,0,0,TF,"cc4n,",6,f28,f3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,40-30,3,3,0,0,TF,"4n,",6,f2d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,15-0,2,1,0,1,TF,"4n,",6,f28,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19028,40-30,2,4,2,1,DI,"4n,",6,f39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19053,30-15,5,5,2,1,DI,"4n,",6,f39,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19096,30-15,2,1,2,2,DI,"4+w,",6,f39,s!#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19203,40-0,1,1,1,0,AM,"6d,",6,f19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19283,40-0,1,1,1,1,AM,"4w,",6,f18,f#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [556]:
df_error_on_1_serve_6_ad = df_returning_2nd_6_ad_side.loc[df_returning_2nd_6_ad_side["2"].str.contains("1", case = True)]
len(df_error_on_1_serve_6_ad)

34

In [557]:
df_error_on_2_serve_6_ad = df_returning_2nd_6_ad_side.loc[df_returning_2nd_6_ad_side["2"].str.contains("2", case = True)]
len(df_error_on_2_serve_6_ad)

149

In [558]:
df_error_on_3_serve_6_ad = df_returning_2nd_6_ad_side.loc[df_returning_2nd_6_ad_side["2"].str.contains("3", case = True)]
len(df_error_on_3_serve_6_ad)

81

In [559]:
df_error_on_1_serve_6_ad.loc[df_error_on_1_serve_6_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
7819,15-0,5,4,2,1,MB,"4d,",6,f19,r2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13281,15-0,3,3,1,0,PK,"6n,",6,f19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17405,AD-40,5,2,2,1,KN,"4w,",6,f19*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18338,15-0,1,1,0,0,RN,"6n,",6,f19,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19203,40-0,1,1,1,0,AM,"6d,",6,f19,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [560]:
df_error_on_2_serve_6_ad.loc[df_error_on_2_serve_6_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
839,15-0,2,4,1,0,HR,"6n,",6,f29,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,AD-40,4,3,1,1,HR,"6n,",6,f29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,AD-40,3,1,1,0,MC,"4n,",6,f29,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2195,40-AD,1,0,0,0,TVR,"4n,",6,f29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2322,30-40,1,0,1,1,TVR,"c4x,",6,f29,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5465,0-15,3,0,2,1,MB,"4d,",6,f29d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6359,AD-40,5,2,0,0,MB,"4n,",6,f29,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7273,15-30,2,4,2,2,ST,"4n,",6,f29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7453,15-30,2,2,1,1,RN,"6d,",6,f29,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9647,40-30,2,3,0,0,GM,"4n,",6,f29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9714,15-30,5,4,0,1,GM,"4n,",6,f29,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10110,AD-40,0,0,0,0,RF,"6w,",6,f29,f29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10298,40-30,2,5,0,2,RF,"4n,",6,f29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10628,40-30,4,2,1,0,DSS,"6n,",6,f29,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10829,40-30,4,4,1,0,DM,"6n,",6,f29,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11212,0-15,2,3,1,1,DT,"6n,",6,f29,b2n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12363,0-15,10,11,2,2,RF,"4d,",6,f29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12501,30-15,4,5,1,0,RBA,"6d,",6,f29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12720,AD-40,5,0,1,0,DG,"6d,",6,f29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13147,40-0,2,0,2,0,DK,"c4x,",6,f29,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13172,15-0,4,2,2,0,DK,"4d,",6,f29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13353,15-30,3,3,2,0,PK,"5n,",6,f29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13698,15-0,1,0,0,0,DSS,"6n,",6,f29,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13728,30-15,4,3,0,0,DSS,"6w,",6,f29,f2d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13879,30-15,1,0,0,0,JMD,"4w,",6,f29,f3n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14815,0-15,3,1,2,1,DM,"6d,",6,f29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15225,AD-40,0,0,0,0,KA,"6n,",6,f29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15227,40-AD,0,0,0,0,KA,"4x,",6,f29,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15420,0-15,3,5,0,1,JI,"4n,",6,f29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15755,40-0,1,1,1,1,RF,"4n,",6,f29,h=3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15774,30-15,3,3,1,1,RF,"4d,",6,f29,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16887,AD-40,0,0,0,1,RN,"6d,",6,f29,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [561]:
df_error_on_3_serve_6_ad.loc[df_error_on_3_serve_6_ad["2"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1350,40-0,2,1,0,0,DM,"4n,",6,f39,id#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3566,40-0,2,1,0,1,AR,"4n,",6,f39,sw#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5792,0-15,4,3,1,0,TG,"c6w,",6,f39,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11443,40-0,5,3,1,0,DS,"4n,",6,f39,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12268,30-40,2,3,2,2,RF,"6d,",6,f39,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13792,15-30,3,5,1,0,DSS,"6d,",6,f39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13848,0-15,3,2,1,1,DSS,"6d,",6,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15310,40-30,1,5,0,1,KA,"6w,",6,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17240,30-15,4,3,0,0,KN,"4n,",6,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19028,40-30,2,4,2,1,DI,"4n,",6,f39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19053,30-15,5,5,2,1,DI,"4n,",6,f39,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19096,30-15,2,1,2,2,DI,"4+w,",6,f39,s!#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [562]:
df_error_on_1_serve_6_ad["2"] = df_error_on_1_serve_6_ad["2"].str.replace('*', 'a')
df_error_on_1_serve_6_ad.loc[df_error_on_1_serve_6_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1120531478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_1_serve_6_ad["2"] = df_error_on_1_serve_6_ad["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1011,40-0,2,3,1,0,ST,"6w,",6,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3928,40-0,3,2,0,0,AZ,"4n,",6,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5601,40-0,2,5,1,0,JB,"4n,",6,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13281,15-0,3,3,1,0,PK,"6n,",6,f19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17405,AD-40,5,2,2,1,KN,"4w,",6,f19a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18960,30-15,1,1,1,1,DI,"4n,",6,f18a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [563]:
df_error_on_2_serve_6_ad["2"] = df_error_on_2_serve_6_ad["2"].str.replace('*', 'a')
df_error_on_2_serve_6_ad.loc[df_error_on_2_serve_6_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2359033136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_2_serve_6_ad["2"] = df_error_on_2_serve_6_ad["2"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [564]:
df_error_on_3_serve_6_ad["2"] = df_error_on_3_serve_6_ad["2"].str.replace('*', 'a')
df_error_on_3_serve_6_ad.loc[df_error_on_3_serve_6_ad["2"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2127873213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error_on_3_serve_6_ad["2"] = df_error_on_3_serve_6_ad["2"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
4136,15-0,4,3,0,0,AR,"6x,",6,f3a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [567]:
df_returning_1st_4 = df_returning.loc[df_returning["0"] == "4"]
df_returning_1st_5 = df_returning.loc[df_returning["0"] == "5"]
df_returning_1st_6 = df_returning.loc[df_returning["0"] == "6"]

In [568]:
df_returning_1st_4_deuce = df_returning_1st_4.loc[df_returning_1st_4["Pts"].isin(deuce_side_values)]
df_returning_1st_5_deuce = df_returning_1st_5.loc[df_returning_1st_5["Pts"].isin(deuce_side_values)]
df_returning_1st_6_deuce = df_returning_1st_6.loc[df_returning_1st_6["Pts"].isin(deuce_side_values)]
df_returning_1st_4_ad = df_returning_1st_4.loc[df_returning_1st_4["Pts"].isin(ad_side_values)]
df_returning_1st_5_ad = df_returning_1st_5.loc[df_returning_1st_5["Pts"].isin(ad_side_values)]
df_returning_1st_6_ad = df_returning_1st_6.loc[df_returning_1st_6["Pts"].isin(ad_side_values)]

In [580]:
df_returning_1st_4_deuce

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
11,40-40,1,0,0,0,CR,4,f3w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,30-0,2,1,0,0,CR,4,f1w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,0-0,4,3,0,0,CR,4,r2n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,40-40,4,3,0,0,CR,4,r18,f+3,m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,40-15,5,4,0,0,CR,4,f17,f+3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19229,15-40,3,3,1,0,AM,4,f27,f+3,m3w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19270,15-15,0,0,1,1,AM,4,f29,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19282,30-0,1,1,1,1,AM,4,f3d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19290,0-0,2,2,1,1,AM,4,r29,f1,r3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19292,30-0,2,2,1,1,AM,4,f1d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [585]:
df_returning_1st_4_deuce_1 = df_returning_1st_4_deuce.loc[df_returning_1st_4_deuce["1"].str.contains("1", case = True)]
len(df_returning_1st_4_deuce_1)

386

In [586]:
df_returning_1st_4_deuce_2 = df_returning_1st_4_deuce.loc[df_returning_1st_4_deuce["1"].str.contains("2", case = True)]
len(df_returning_1st_4_deuce_2)

685

In [588]:
df_returning_1st_4_deuce_3 = df_returning_1st_4_deuce.loc[df_returning_1st_4_deuce["1"].str.contains("3", case = True)]
len(df_returning_1st_4_deuce_3)

128

In [634]:
df_returning_1st_4_deuce_1.loc[df_returning_1st_4_deuce_1["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
301,30-30,2,1,0,0,DM,4,f19,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,15-15,5,4,0,0,AR,4,f19,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,30-30,1,0,1,0,ST,4,f19,f+3,s#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,15-40,1,1,1,1,ST,4,f19,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1270,0-0,4,3,0,0,ST,4,r19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,40-40,1,0,0,1,DM,4,f19,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1594,30-0,4,1,0,0,MC,4,l19,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,30-0,3,1,1,0,MC,4,f19,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3810,0-0,4,4,0,1,ADF,4,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4533,40-40,5,3,0,0,HH,4,f19,f2,b+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5443,0-30,5,2,1,1,MB,4,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5665,0-30,0,0,1,2,JB,4,f19,f39,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5827,0-0,2,2,2,0,TG,4,f19,f38,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6242,40-15,4,1,0,0,KN,4,f19,f3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6271,15-15,1,0,1,0,KN,4,f19,f28,b38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6803,15-40,1,0,0,0,MF,4,r19,f29,b27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7627,40-15,5,2,0,0,MB,4,f19,f2,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8009,0-0,2,1,1,1,LS,4,f198,f2d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8163,40-40,4,3,0,1,DE,4,f19w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8482,15-15,1,0,1,1,FT,4,f19,fn#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9162,15-15,5,1,2,2,ST,4,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9329,40-40,5,2,1,0,CR,4,f19,f2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9770,0-0,1,1,1,1,GM,4,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9949,0-0,0,3,1,1,DT,4,f19,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10093,40-15,5,3,2,2,DT,4,f19,f2,b1w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10309,0-0,1,0,0,0,MR,4,r19,f38*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11138,30-0,0,2,1,0,DT,4,f19,f+38,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11334,0-30,4,1,1,0,MB,4,f19,f2,b3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11455,0-0,1,0,0,0,GD,4,f19,r3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11821,40-15,3,5,1,1,ST,4,f19,f3w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12539,30-30,3,2,1,1,RBA,4,f19,f1,r3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12808,40-40,2,2,0,0,HH,4,f19,f27,f19+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12906,0-30,4,4,0,1,HH,4,f19,h38,b38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13130,15-40,4,2,1,0,DK,4,f19,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13171,0-0,4,2,2,0,DK,4,r19,f28,s38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13175,30-30,4,2,2,0,DK,4,f19,f18,r38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13237,30-30,5,2,0,0,PK,4,f19,f3w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13653,30-30,2,4,2,2,DT,4,f19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13847,0-0,3,2,1,1,DSS,4,f19,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14181,0-0,1,1,1,0,DT,4,f19,f3w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14341,0-0,1,2,0,1,PK,4,f19,f2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14391,40-40,1,0,0,0,LP,4,r19,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14547,40-40,4,1,0,0,KN,4,f19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14900,0-0,0,0,1,0,RBA,4,f19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14949,40-15,4,4,1,0,RBA,4,f19,f3,m3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15170,15-40,0,0,1,1,NB,4,f19,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15297,40-40,1,3,0,1,KA,4,f19,f3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15668,15-15,0,0,1,0,RF,4,f19,h=3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16413,30-0,2,2,0,1,RF,4,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16464,0-0,1,1,0,0,MC,4,f19,f3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16561,40-40,3,1,0,1,MC,4,f19,f18,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16915,15-40,3,1,0,1,RN,4,f19,f1,r1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17297,30-30,2,4,1,0,KN,4,f19w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17346,0-0,3,2,1,1,KN,4,f19,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18000,15-40,1,1,2,0,MC,4,f19,f2,y+1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18164,40-15,4,1,0,0,JM,4,f19,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19029,40-40,2,4,2,1,DI,4,f19,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [635]:
df_returning_1st_4_deuce_2.loc[df_returning_1st_4_deuce_2["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
90,30-0,4,1,1,0,CR,4,f29,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,40-40,1,0,0,0,DM,4,f29,b3,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,30-30,4,4,1,0,DM,4,r29,b3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,15-40,4,5,1,1,DM,4,f29,f2,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,0-0,2,1,0,0,AR,4,f29,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19095,15-15,2,1,2,2,DI,4,f29,h=2,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19171,40-40,3,2,0,0,AM,4,f29,b2,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19208,0-0,2,2,1,0,AM,4,f29,b1,r3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19270,15-15,0,0,1,1,AM,4,f29,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19290,0-0,2,2,1,1,AM,4,r29,f1,r3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [637]:
df_returning_1st_4_deuce_3.loc[df_returning_1st_4_deuce_3["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
323,0-0,4,3,0,0,DM,4,r39,b3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,0-0,3,5,0,0,ST,4,f39,b3,b3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,40-15,0,0,1,0,BVD,4,f39w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,30-30,4,1,0,0,MC,4,f39w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1666,30-0,5,3,1,0,MC,4,f39,b3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3322,15-15,0,0,1,0,HH,4,f39,b2,r3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3832,0-0,6,6,0,1,ADF,4,f39w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8897,0-0,5,2,0,0,ST,4,f39,b3,y1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9103,0-0,4,4,2,1,ST,4,f39,s2,s#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10639,40-15,5,3,1,0,DSS,4,f39*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10734,40-40,2,1,0,0,DM,4,f39,s28,f18*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10912,30-0,5,3,1,1,DM,4,f39w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11489,30-30,4,3,0,0,GD,4,r39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12042,40-40,5,5,0,0,RF,4,f39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12932,0-0,6,6,0,1,HH,4,f39,b37,s38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13079,15-15,5,2,0,0,DK,4,f39,b38,b19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13763,30-30,2,2,1,0,DSS,4,f39,b2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13983,15-15,5,2,0,1,JMD,4,f39,b3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15085,0-0,1,4,0,0,NB,4,f39,b2,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16444,30-30,3,5,0,1,RF,4,f39d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17360,15-40,5,2,1,1,KN,4,f39,s3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17367,0-0,0,1,2,1,KN,4,f39,s3,y-3*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17942,15-15,3,4,1,0,MC,4,f39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18062,40-40,1,4,2,1,MC,4,f39d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18236,40-15,2,2,1,0,JM,4,f39*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18327,15-15,0,0,0,0,RN,4,f39*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18824,30-30,3,4,0,0,DI,4,f39,b3,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19041,40-15,4,4,2,1,DI,4,f39,s3,y3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [642]:
df_returning_1st_4_deuce_3.head(120)

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
11,40-40,1,0,0,0,CR,4,f3w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,0-0,1,1,0,0,TF,4,f38,b+3,s1w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,0-0,4,3,0,0,DM,4,r39,b3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,40-15,3,3,1,0,DM,4,f38,s2,j-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,40-40,4,4,1,0,DM,4,r3d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18236,40-15,2,2,1,0,JM,4,f39*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18327,15-15,0,0,0,0,RN,4,f39*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18407,30-0,0,1,1,0,RN,4,f38*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18617,15-15,0,1,0,2,DT,4,f3d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18667,30-30,2,3,0,0,AZ,4,f3n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [645]:
df_returning_1st_4_deuce_1["1"] = df_returning_1st_4_deuce_1["1"].str.replace('*', 'a')
df_returning_1st_4_deuce_1.loc[df_returning_1st_4_deuce_1["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1773188320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_4_deuce_1["1"] = df_returning_1st_4_deuce_1["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
2762,15-15,5,3,0,1,ST,4,f17a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3609,40-40,5,4,0,1,AR,4,f17a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3810,0-0,4,4,0,1,ADF,4,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5443,0-30,5,2,1,1,MB,4,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6529,0-0,1,1,2,1,MB,4,f17a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6995,40-40,0,0,0,0,ST,4,f17a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7125,40-15,0,1,2,0,ST,4,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7190,0-0,0,2,2,1,ST,4,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9162,15-15,5,1,2,2,ST,4,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9770,0-0,1,1,1,1,GM,4,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11165,0-0,2,4,1,0,DT,4,f17a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12245,0-0,1,2,2,2,RF,4,f;17a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13573,0-0,4,2,1,2,DT,4,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14054,15-15,2,2,1,1,JMD,4,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14213,0-0,2,4,1,0,DT,4,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15356,15-15,2,4,0,0,JI,4,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16413,30-0,2,2,0,1,RF,4,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [646]:
df_returning_1st_4_deuce_2["1"] = df_returning_1st_4_deuce_2["1"].str.replace('*', 'a')
df_returning_1st_4_deuce_2.loc[df_returning_1st_4_deuce_2["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2192548089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_4_deuce_2["1"] = df_returning_1st_4_deuce_2["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
2725,0-0,1,1,0,1,ST,4,f29a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [648]:
df_returning_1st_4_deuce_3["1"] = df_returning_1st_4_deuce_3["1"].str.replace('*', 'a')
df_returning_1st_4_deuce_3.loc[df_returning_1st_4_deuce_3["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1487569346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_4_deuce_3["1"] = df_returning_1st_4_deuce_3["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
10639,40-15,5,3,1,0,DSS,4,f39a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18236,40-15,2,2,1,0,JM,4,f39a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18327,15-15,0,0,0,0,RN,4,f39a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18407,30-0,0,1,1,0,RN,4,f38a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [649]:
df_returning_1st_5_deuce

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
82,15-40,2,1,1,0,CR,5,b28,b2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,0-0,2,1,0,1,TF,5,s38,b1*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,0-0,6,5,1,1,DM,5,b28,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,0-0,4,1,1,0,AR,5,b28,b2,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,15-15,4,1,1,0,AR,5,b18,f;3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18775,0-0,1,0,0,0,DI,5,b3n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18795,40-40,2,1,0,0,DI,5,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18808,40-40,3,2,0,0,DI,5,f29,f2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18886,30-30,1,1,0,1,DI,5,b28,b3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19317,40-15,5,3,1,1,AM,5,b1d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [650]:
df_returning_1st_5_deuce_1 = df_returning_1st_5_deuce.loc[df_returning_1st_5_deuce["1"].str.contains("1", case = True)]
len(df_returning_1st_5_deuce_1)

58

In [651]:
df_returning_1st_5_deuce_2 = df_returning_1st_5_deuce.loc[df_returning_1st_5_deuce["1"].str.contains("2", case = True)]
len(df_returning_1st_5_deuce_2)

162

In [653]:
df_returning_1st_5_deuce_3 = df_returning_1st_5_deuce.loc[df_returning_1st_5_deuce["1"].str.contains("3", case = True)]
len(df_returning_1st_5_deuce_3)

38

In [684]:
df_returning_1st_5_deuce_1.loc[df_returning_1st_5_deuce_1["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
6968,30-30,4,2,2,0,MF,5,r19w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7411,0-0,2,5,1,0,RN,5,b19,f29,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7415,40-15,2,5,1,0,RN,5,f19w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7442,40-40,1,1,1,1,RN,5,f19,f28,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7929,40-40,3,3,1,0,LS,5,b19,f2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10593,15-15,0,0,1,0,DSS,5,b19,f39,b19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10699,0-0,5,3,2,0,DSS,5,b19,f17,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12863,0-0,1,1,0,1,HH,5,b19,f39,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14482,30-30,2,1,2,0,LP,5,r19,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14806,30-30,1,1,2,1,DM,5,b19,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15146,15-15,4,1,0,1,NB,5,b19,f3*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [685]:
df_returning_1st_5_deuce_2.loc[df_returning_1st_5_deuce_2["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
909,30-0,5,4,1,1,HR,5,b29,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1621,15-40,0,0,1,0,MC,5,b29,f37w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,30-0,5,4,0,0,JS,5,b29,b3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2072,0-0,5,2,0,2,JS,5,f29,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3744,15-15,0,0,0,1,ADF,5,b29,f39,b38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3776,40-40,0,2,0,1,ADF,5,b29,f19,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3822,30-0,5,5,0,1,ADF,5,b29,f1d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3875,30-30,1,2,1,1,ADF,5,b29,f3d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5256,30-30,2,1,0,0,MB,5,b29,f2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5402,0-0,3,0,1,1,MB,5,b29,b2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5515,0-0,3,1,0,0,JB,5,b29,b38,s28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5587,30-30,2,3,1,0,JB,5,f29,b28,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5691,0-0,2,4,1,2,JB,5,f29,b2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5761,40-40,1,0,1,0,TG,5,b29,f38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6799,0-0,1,0,0,0,MF,5,b29,f39,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6820,0-0,5,0,0,0,MF,5,f29,b27,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6911,30-30,4,4,1,0,MF,5,s29,f17,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7137,40-15,1,2,2,0,ST,5,b29,b3,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8532,30-30,5,4,1,1,FT,5,b29,f2,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10446,30-0,0,0,2,0,MR,5,b29,f28,b18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10617,40-15,3,1,1,0,DSS,5,b29,b29,b28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10660,40-15,1,1,2,0,DSS,5,b29,b27,f+1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10785,0-0,1,1,1,0,DM,5,b29,b37,b39*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11215,15-40,2,3,1,1,DT,5,b29,s39,b28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11901,30-30,2,2,1,0,DM,5,s29,b1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12676,0-0,5,4,0,0,DG,5,b29,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12701,0-30,3,0,1,0,DG,5,b29,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13009,40-40,1,3,1,2,HH,5,s29,f18,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13714,0-0,3,2,0,0,DSS,5,b29,f3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14026,30-0,0,0,1,1,JMD,5,b29,f;2,y1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14077,40-15,5,3,1,1,JMD,5,b29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14122,0-0,4,3,0,0,DT,5,b29,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14305,0-0,3,4,0,0,PK,5,f29,f3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15407,0-0,3,3,0,1,JI,5,s29,f3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15419,0-0,3,5,0,1,JI,5,b29,f3,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16204,30-30,0,0,1,0,KN,5,f29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16555,40-40,3,1,0,1,MC,5,b29,f19,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16942,40-40,5,3,0,1,RN,5,f29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17215,0-0,2,1,0,0,KN,5,b29,b3,b+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17636,15-15,1,0,0,0,AM,5,b29,f2,b2d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17672,15-15,3,4,0,0,AM,5,r29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18381,0-0,5,5,0,0,RN,5,b29,f3,b2n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18808,40-40,3,2,0,0,DI,5,f29,f2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [687]:
df_returning_1st_5_deuce_3.loc[df_returning_1st_5_deuce_3["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1555,15-15,5,1,1,0,BVD,5,b39,b28,b19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2390,0-0,4,2,2,1,TVR,5,f39,s29,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,40-15,2,5,1,0,JB,5,f39*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6471,0-30,1,1,1,1,MB,5,s39,b3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8375,0-0,4,1,0,0,FT,5,f39,b1d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11710,0-0,1,1,1,0,ST,5,r39,b19,l27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13056,0-0,3,0,0,0,DK,5,f39,b37,f38+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13333,0-0,2,2,2,0,PK,5,r39,b39,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16466,15-15,1,1,0,0,MC,5,s39,b38,s29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [688]:
df_returning_1st_5_deuce_1["1"] = df_returning_1st_5_deuce_1["1"].str.replace('*', 'a')
df_returning_1st_5_deuce_1.loc[df_returning_1st_5_deuce_1["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2134018367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_5_deuce_1["1"] = df_returning_1st_5_deuce_1["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
14066,30-0,4,2,1,1,JMD,5,b18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [689]:
df_returning_1st_5_deuce_2["1"] = df_returning_1st_5_deuce_2["1"].str.replace('*', 'a')
df_returning_1st_5_deuce_2.loc[df_returning_1st_5_deuce_2["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3978698736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_5_deuce_2["1"] = df_returning_1st_5_deuce_2["1"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [691]:
df_returning_1st_5_deuce_3["1"] = df_returning_1st_5_deuce_3["1"].str.replace('*', 'a')
df_returning_1st_5_deuce_3.loc[df_returning_1st_5_deuce_3["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\450283620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_5_deuce_3["1"] = df_returning_1st_5_deuce_3["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
4402,40-15,4,1,0,1,DM,5,b38a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,40-15,2,5,1,0,JB,5,f39a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9789,0-0,5,1,1,1,GM,5,f38a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [692]:
df_returning_1st_6_deuce

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
19,0-0,2,1,0,0,CR,6,s38,u+1,r3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30-0,3,2,0,0,CR,6,s28,f1*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,0-0,4,1,1,0,CR,6,s1d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,15-15,1,1,0,0,TF,6,s28,f3*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,30-30,1,1,0,0,TF,6,s2n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19177,0-0,4,3,0,0,AM,6,b1d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19225,0-0,3,3,1,0,AM,6,s27,f+3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19256,0-0,5,5,1,0,AM,6,b28,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19280,0-0,1,1,1,1,AM,6,s1w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19284,40-15,1,1,1,1,AM,6,b28,b3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [693]:
df_returning_1st_6_deuce_1 = df_returning_1st_6_deuce.loc[df_returning_1st_6_deuce["1"].str.contains("1", case = True)]
len(df_returning_1st_6_deuce_1)

145

In [694]:
df_returning_1st_6_deuce_2 = df_returning_1st_6_deuce.loc[df_returning_1st_6_deuce["1"].str.contains("2", case = True)]
len(df_returning_1st_6_deuce_2)

642

In [696]:
df_returning_1st_6_deuce_3 = df_returning_1st_6_deuce.loc[df_returning_1st_6_deuce["1"].str.contains("3", case = True)]
len(df_returning_1st_6_deuce_3)

219

In [757]:
df_returning_1st_6_deuce_1.loc[df_returning_1st_6_deuce_1["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
2229,0-0,5,2,0,0,TVR,6,s19,f+38,b2d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2347,40-40,5,0,1,1,TVR,6,b19,f18w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5427,40-40,4,1,1,1,MB,6,b19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7304,40-40,0,0,0,0,RN,6,b19,b39,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7365,40-15,5,3,0,0,RN,6,m19,f18,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7393,0-0,2,3,1,0,RN,6,b19,f18,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7538,0-0,2,1,1,2,RN,6,b19,b28,f39*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7551,30-30,2,3,1,2,RN,6,b19,b29,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8019,0-0,4,1,1,1,LS,6,b19,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9206,40-40,2,3,0,0,CR,6,b19,f3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9858,0-0,5,4,0,0,DT,6,b19,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10886,30-30,2,2,1,1,DM,6,b19,f38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11886,0-0,1,1,1,0,DM,6,s19,f1,f1n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12215,40-40,5,2,1,2,RF,6,b19,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12917,30-0,5,5,0,1,HH,6,b19,f39,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14142,40-15,5,4,0,0,DT,6,b19,f;2,b2d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14875,0-0,4,1,0,0,RBA,6,b19,f3,b1w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14892,40-40,5,2,0,0,RBA,6,b19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15421,0-30,3,5,0,1,JI,6,b19,f1d@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15738,0-0,0,0,1,1,RF,6,b19,f#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16077,0-0,6,6,1,0,JMD,6,b19,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16880,0-30,0,0,0,1,RN,6,b19,i=2,f2d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17034,40-40,0,0,1,2,RN,6,s19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17104,0-0,1,2,2,2,RN,6,b19,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17483,30-30,6,5,0,0,MC,6,s19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17536,15-15,4,3,1,0,MC,6,s19,f2,r3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [758]:
df_returning_1st_6_deuce_2.loc[df_returning_1st_6_deuce_2["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
281,40-15,1,0,0,0,DM,6,b29,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,0-0,1,1,1,0,DM,6,s29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,40-40,1,1,1,0,DM,6,b29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,0-0,4,4,1,0,DM,6,b29,f2,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,0-0,2,1,1,1,DM,6,b29,f1w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18709,0-0,1,2,0,1,AZ,6,s29,b2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18871,0-0,0,0,0,1,DI,6,b29,b2,b1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18922,0-0,4,4,0,1,DI,6,s29,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18935,0-0,5,5,0,1,DI,6,b29,f2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18961,30-30,1,1,1,1,DI,6,s29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [760]:
df_returning_1st_6_deuce_3.loc[df_returning_1st_6_deuce_3["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
500,0-0,4,5,1,1,DM,6,s39,b3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,15-15,4,4,0,1,ST,6,s39,b!@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3021,40-15,5,2,1,0,FAA,6,b39,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3650,40-40,0,0,1,1,AR,6,b39,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5727,30-30,2,1,0,0,TG,6,s39,f19,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6238,0-0,4,1,0,0,KN,6,b39,b18,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6944,40-40,2,0,2,0,MF,6,s39,b39,s19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7561,0-30,2,5,1,2,RN,6,b39,r39,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8057,40-40,0,3,0,0,DE,6,b39,s27,f37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8069,15-40,2,3,0,0,DE,6,b39,b18,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9817,0-0,3,0,0,0,DT,6,b39,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9821,30-30,3,0,0,0,DT,6,s39,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9979,40-40,2,5,1,1,DT,6,b+39,m2,o3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12842,15-40,5,5,0,0,HH,6,s39,b29,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13339,40-40,2,2,2,0,PK,6,s39,f38,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13406,30-0,1,0,0,1,DT,6,b39,s1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13663,0-0,3,5,2,2,DT,6,b39,s3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13859,0-0,5,2,1,1,DSS,6,b39,b3,s1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14867,30-0,3,0,0,0,RBA,6,b39,f3,s1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16697,40-40,0,2,0,1,KA,6,b39,b3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16743,15-15,1,1,0,2,KA,6,s39,f3,s1w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17967,30-30,5,6,1,0,MC,6,s39,f+1,l3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18070,40-40,1,4,2,1,MC,6,b39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [761]:
df_returning_1st_6_deuce_1["1"] = df_returning_1st_6_deuce_1["1"].str.replace('*', 'a')
df_returning_1st_6_deuce_1.loc[df_returning_1st_6_deuce_1["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3110167723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_6_deuce_1["1"] = df_returning_1st_6_deuce_1["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
6923,15-15,0,0,2,0,MF,6,b18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [762]:
df_returning_1st_6_deuce_2["1"] = df_returning_1st_6_deuce_2["1"].str.replace('*', 'a')
df_returning_1st_6_deuce_2.loc[df_returning_1st_6_deuce_2["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\192649440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_6_deuce_2["1"] = df_returning_1st_6_deuce_2["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1732,40-15,1,0,0,1,NK,6,b2a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [764]:
df_returning_1st_6_deuce_3["1"] = df_returning_1st_6_deuce_3["1"].str.replace('*', 'a')
df_returning_1st_6_deuce_3.loc[df_returning_1st_6_deuce_3["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3970233830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_6_deuce_3["1"] = df_returning_1st_6_deuce_3["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
5877,40-15,2,1,0,0,PCB,6,b38a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11386,30-0,5,2,0,0,DS,6,b37a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [765]:
df_returning_1st_4_ad

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
12,AD-40,1,0,0,0,CR,4,b38,f3*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,15-0,3,2,0,0,CR,4,b37,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,15-0,4,3,0,0,CR,4,b38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,30-40,4,3,0,0,CR,4,b1w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,15-0,1,0,1,0,CR,4,s2d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19084,40-0,1,0,2,2,DI,4,b18*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19178,15-0,4,3,0,0,AM,4,b1d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19180,30-15,4,3,0,0,AM,4,b1w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19184,40-AD,4,3,0,0,AM,4,s29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19281,15-0,1,1,1,1,AM,4,s1n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [766]:
df_returning_1st_4_ad_1 = df_returning_1st_4_ad.loc[df_returning_1st_4_ad["1"].str.contains("1", case = True)]
len(df_returning_1st_4_ad_1)

92

In [767]:
df_returning_1st_4_ad_2 = df_returning_1st_4_ad.loc[df_returning_1st_4_ad["1"].str.contains("2", case = True)]
len(df_returning_1st_4_ad_2)

443

In [768]:
df_returning_1st_4_ad_3 = df_returning_1st_4_ad.loc[df_returning_1st_4_ad["1"].str.contains("3", case = True)]
len(df_returning_1st_4_ad_3)

438

In [808]:
df_returning_1st_4_ad_1.loc[df_returning_1st_4_ad_1["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
225,0-15,4,3,0,1,TF,4,s19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5126,40-30,1,0,2,1,AZ,4,b19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5356,30-40,2,1,0,1,MB,4,b19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6564,15-0,5,3,2,1,MB,4,s19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,40-0,4,2,1,0,ST,4,b19,r1d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10296,30-15,2,5,0,2,RF,4,b19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10801,30-40,1,3,1,0,DM,4,s19,f19,f27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11488,30-15,4,3,0,0,GD,4,b19,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12091,15-30,4,1,0,1,RF,4,s19,f2,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14885,15-0,5,2,0,0,RBA,4,b19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14889,30-40,5,2,0,0,RBA,4,b19,f1,f3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15240,40-AD,0,2,0,0,KA,4,b19,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16871,15-0,3,5,0,0,RN,4,b19d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17082,0-15,5,3,1,2,RN,4,b19,b2n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17399,0-15,5,2,2,1,KN,4,b19d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17658,15-0,2,3,0,0,AM,4,b19,b2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18092,40-0,4,5,2,1,MC,4,b19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18444,AD-40,4,3,1,0,RN,4,b19,b1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18829,AD-40,3,4,0,0,DI,4,s19,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19013,15-0,1,3,2,1,DI,4,b19,f3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [809]:
df_returning_1st_4_ad_2.loc[df_returning_1st_4_ad_2["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
298,0-15,2,1,0,0,DM,4,b29,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,15-30,2,1,0,0,DM,4,b29,f2,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,30-40,3,2,0,0,DM,4,b29,f1,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,15-0,1,0,1,1,DM,4,b29,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,15-0,0,2,0,0,ST,4,b29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18524,AD-40,5,4,0,0,DT,4,b29,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18592,30-40,2,4,0,1,DT,4,b29d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18979,0-15,4,2,1,1,DI,4,s29,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19030,40-AD,2,4,2,1,DI,4,s29,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19184,40-AD,4,3,0,0,AM,4,s29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [810]:
df_returning_1st_4_ad_3.loc[df_returning_1st_4_ad_3["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
2273,40-30,3,2,1,0,TVR,4,b39,b1n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3376,AD-40,5,3,1,0,HH,4,s39,f2,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3765,40-30,0,2,0,1,ADF,4,b39,f38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5422,AD-40,4,1,1,1,MB,4,b39,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5554,AD-40,0,3,1,0,JB,4,s39,b38,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5611,15-30,0,0,1,1,JB,4,s39,b38,s28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5782,40-0,4,1,1,0,TG,4,s39,f38,b27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5806,40-30,0,0,2,0,TG,4,b39,f18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6357,AD-40,5,2,0,0,MB,4,s39,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7301,30-15,0,0,0,0,RN,4,b39,f19,f;18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7427,15-0,0,0,1,1,RN,4,b39,f19,l1d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7548,15-0,2,3,1,2,RN,4,b39,f28,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7588,15-0,2,1,0,0,MB,4,b39,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7624,15-0,5,2,0,0,MB,4,b39,b1,f1w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7896,15-0,1,1,1,0,LS,4,b39,f3,s3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8000,15-0,1,0,1,1,LS,4,b39,f1w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8089,30-40,3,4,0,0,DE,4,b39,f39,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8160,AD-40,4,3,0,1,DE,4,b39,f39,b17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8162,AD-40,4,3,0,1,DE,4,b39,s28,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9513,30-15,2,1,0,0,ST,4,b39,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9527,15-0,3,2,0,0,ST,4,s39,f3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10248,30-15,4,5,0,1,RF,4,b39,b28,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10250,40-30,4,5,0,1,RF,4,b39,s2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11059,40-30,2,1,0,0,DT,4,b39,f3n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11069,15-30,3,2,0,0,DT,4,b39,b19,r2d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11310,40-30,1,0,1,0,MB,4,b39,f2,u3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11394,0-15,0,0,1,0,DS,4,s39,f3,b1x#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12710,15-0,5,0,1,0,DG,4,b39,b3,b1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12761,30-15,4,1,2,0,DG,4,b39,b2,f+1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13057,0-15,3,0,0,0,DK,4,b39,f37,s39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13127,0-15,4,2,1,0,DK,4,b39,b38,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13139,0-40,0,0,2,0,DK,4,b39,b37,s37*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13261,15-30,0,2,1,0,PK,4,b39,s39,b18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13370,15-0,1,0,0,0,DT,4,b39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13505,30-15,4,4,1,1,DT,4,b39,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14110,0-15,2,3,0,0,DT,4,b39,b2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14414,15-30,5,0,0,0,LP,4,b39,b3,f1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14679,15-0,4,1,1,0,DM,4,b39,b3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14683,40-30,4,1,1,0,DM,4,b39,b1n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15451,30-40,2,1,0,0,KK,4,s39,f3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15732,AD-40,5,5,1,0,RF,4,b39,f3*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15784,15-30,4,4,1,1,RF,4,b39,h=3,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16215,AD-40,0,0,1,0,KN,4,b39,f1n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16367,40-AD,3,3,0,0,RF,4,b39,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16556,40-AD,3,1,0,1,MC,4,b39,f18,r18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17318,15-0,1,0,1,1,KN,4,b39,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17823,30-40,2,1,1,0,GD,4,b39,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17931,40-30,2,3,1,0,MC,4,b39d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17964,0-15,5,6,1,0,MC,4,b39,f2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17987,0-15,0,0,2,0,MC,4,b39,f3,s1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18187,40-30,5,4,0,0,JM,4,b39,b1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18210,40-30,0,0,1,0,JM,4,b39,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18306,15-30,3,3,2,0,JM,4,b39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18534,30-15,6,5,0,0,DT,4,b39,f1*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18936,0-15,5,5,0,1,DI,4,s39,b1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [811]:
df_returning_1st_4_ad_1["1"] = df_returning_1st_4_ad_1["1"].str.replace('*', 'a')
df_returning_1st_4_ad_1.loc[df_returning_1st_4_ad_1["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1951841089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_4_ad_1["1"] = df_returning_1st_4_ad_1["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
579,40-AD,5,4,0,0,AR,4,b18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10296,30-15,2,5,0,2,RF,4,b19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14577,40-30,3,1,1,0,KN,4,b18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14885,15-0,5,2,0,0,RBA,4,b19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18081,40-0,2,5,2,1,MC,4,b18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19084,40-0,1,0,2,2,DI,4,b18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [812]:
df_returning_1st_4_ad_2["1"] = df_returning_1st_4_ad_2["1"].str.replace('*', 'a')
df_returning_1st_4_ad_2.loc[df_returning_1st_4_ad_2["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3306987263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_4_ad_2["1"] = df_returning_1st_4_ad_2["1"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [813]:
df_returning_1st_4_ad_3["1"] = df_returning_1st_4_ad_3["1"].str.replace('*', 'a')
df_returning_1st_4_ad_3.loc[df_returning_1st_4_ad_3["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1744089890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_4_ad_3["1"] = df_returning_1st_4_ad_3["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
13636,40-0,1,3,2,2,DT,4,b37a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17033,40-30,0,0,1,2,RN,4,b38a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [814]:
df_returning_1st_5_ad

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
208,40-0,2,1,0,1,TF,5,f;37,b3,b1n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,30-15,3,2,0,1,TF,5,r28,f2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,15-0,5,4,0,1,TF,5,f28,b2,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589,30-15,1,0,1,0,AR,5,b39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,15-0,1,0,0,0,HR,5,f2d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18666,15-30,2,3,0,0,AZ,5,f38,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18690,40-0,4,5,0,0,AZ,5,f27,s2,f+1*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18710,0-15,1,2,0,1,AZ,5,f38,b3,b3w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18738,15-0,3,4,0,1,AZ,5,f27,f+1*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19238,15-0,5,3,1,0,AM,5,f19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [815]:
df_returning_1st_5_ad_1 = df_returning_1st_5_ad.loc[df_returning_1st_5_ad["1"].str.contains("1", case = True)]
len(df_returning_1st_5_ad_1)

30

In [816]:
df_returning_1st_5_ad_2 = df_returning_1st_5_ad.loc[df_returning_1st_5_ad["1"].str.contains("2", case = True)]
len(df_returning_1st_5_ad_2)

146

In [817]:
df_returning_1st_5_ad_3 = df_returning_1st_5_ad.loc[df_returning_1st_5_ad["1"].str.contains("3", case = True)]
len(df_returning_1st_5_ad_3)

71

In [849]:
df_returning_1st_5_ad_1.loc[df_returning_1st_5_ad_1["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
937,AD-40,5,6,1,1,HR,5,r19,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3769,AD-40,0,2,0,1,ADF,5,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5368,AD-40,4,1,0,1,MB,5,f19,r1,f+3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10816,40-AD,2,4,1,0,DM,5,b19,f17,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11377,30-15,4,1,0,0,DS,5,r19,b1,f3w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12692,40-30,1,0,1,0,DG,5,b19,f2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14855,30-15,1,0,0,0,RBA,5,f19,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16511,15-0,3,5,0,0,MC,5,b19,f19,f27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19238,15-0,5,3,1,0,AM,5,f19,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [850]:
df_returning_1st_5_ad_2.loc[df_returning_1st_5_ad_2["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
1474,30-15,1,0,0,0,BVD,5,b29,f39,b38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,AD-40,3,1,1,0,MC,5,f29,f17,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2187,15-30,1,0,0,0,TVR,5,f29,f18*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5039,15-0,4,1,0,1,AZ,5,f29,f1,f1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5385,30-15,5,2,0,1,MB,5,r29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5588,40-30,2,3,1,0,JB,5,f29,b28,b18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5773,40-30,3,0,1,0,TG,5,b29,f38,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6097,30-15,4,1,0,0,AZ,5,r29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6166,15-30,0,1,1,1,AZ,5,b29C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6241,30-15,4,1,0,0,KN,5,b29,f19,f38w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6247,AD-40,4,1,0,0,KN,5,b29,f18,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7771,30-15,1,0,2,1,MB,5,b29,r2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7926,30-40,3,3,1,0,LS,5,f29,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8040,0-15,0,1,0,0,DE,5,f29,f38,b27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8116,15-0,1,0,0,1,DE,5,b29,f18,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8180,AD-40,5,4,0,1,DE,5,b29,f38,b18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8446,30-15,4,4,1,0,FT,5,b29,b2,f1n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10370,0-15,5,4,0,0,MR,5,r29,f38,b37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10576,15-0,4,3,0,0,DSS,5,b29,f38,b28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10860,15-0,0,0,1,1,DM,5,r29,f39,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13174,30-15,4,2,2,0,DK,5,b29,f18,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13271,0-15,2,2,1,0,PK,5,b29,f37,b19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13830,15-0,1,0,1,1,DSS,5,b29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14297,30-40,3,2,0,0,PK,5,b29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14334,40-30,0,1,0,1,PK,5,f29,f2,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15330,15-0,1,1,0,0,JI,5,s29,f3,b3d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15523,30-15,1,2,0,1,KK,5,b29,f2,b1w@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15550,15-0,3,4,0,1,KK,5,r29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16832,40-30,1,1,0,0,RN,5,f29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16834,AD-40,1,1,0,0,RN,5,f29,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16974,40-30,2,3,1,1,RN,5,f29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18332,AD-40,0,0,0,0,RN,5,f29d#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18362,15-30,4,2,0,0,RN,5,f29,f3,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18371,15-0,5,3,0,0,RN,5,f29,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [851]:
df_returning_1st_5_ad_3.loc[df_returning_1st_5_ad_3["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
589,30-15,1,0,1,0,AR,5,b39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3761,15-0,0,2,0,1,ADF,5,f39,b3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3855,30-15,0,1,1,1,ADF,5,m39,b38,f2d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5684,30-15,1,3,1,2,JB,5,f39,b17,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8104,40-30,4,5,0,0,DE,5,b39,y17,u-17*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8158,30-40,4,3,0,1,DE,5,b39,f39,b38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8497,15-30,3,0,1,1,FT,5,f39,b3,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10668,0-40,2,2,2,0,DSS,5,b39,b3w@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11231,30-15,5,4,1,1,DT,5,b39,b2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11778,15-0,0,0,1,1,ST,5,b39,f38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13922,15-30,3,4,0,0,JMD,5,f39,f3,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14526,30-15,3,0,0,0,KN,5,b39,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17357,0-15,5,2,1,1,KN,5,b39,b2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17407,40-AD,5,2,2,1,KN,5,f39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17888,30-15,4,2,0,0,MC,5,f39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17910,30-15,1,0,1,0,MC,5,b39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [852]:
df_returning_1st_5_ad_1["1"] = df_returning_1st_5_ad_1["1"].str.replace('*', 'a')
df_returning_1st_5_ad_1.loc[df_returning_1st_5_ad_1["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\3711226944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_5_ad_1["1"] = df_returning_1st_5_ad_1["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
3769,AD-40,0,2,0,1,ADF,5,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14363,15-0,2,5,0,1,PK,5,b18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [853]:
df_returning_1st_5_ad_2["1"] = df_returning_1st_5_ad_2["1"].str.replace('*', 'a')
df_returning_1st_5_ad_2.loc[df_returning_1st_5_ad_2["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2184458550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_5_ad_2["1"] = df_returning_1st_5_ad_2["1"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [854]:
df_returning_1st_5_ad_3["1"] = df_returning_1st_5_ad_3["1"].str.replace('*', 'a')
df_returning_1st_5_ad_3.loc[df_returning_1st_5_ad_3["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\2343877089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_5_ad_3["1"] = df_returning_1st_5_ad_3["1"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [855]:
df_returning_1st_6_ad

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
10,30-40,1,0,0,0,CR,6,f37,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,15-0,2,1,0,0,CR,6,f1n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,30-15,4,3,0,0,CR,6,f39,b2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,AD-40,4,3,0,0,CR,6,f37,b2,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,15-0,5,4,0,0,CR,6,f28,f1,f3w#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19257,0-15,5,5,1,0,AM,6,f28,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19269,0-15,0,0,1,1,AM,6,f27,f+3,m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19273,40-30,0,0,1,1,AM,6,f29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19291,15-0,2,2,1,1,AM,6,r29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19307,0-40,3,3,1,1,AM,6,f38,b3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [856]:
df_returning_1st_6_ad_1 = df_returning_1st_6_ad.loc[df_returning_1st_6_ad["1"].str.contains("1", case = True)]
len(df_returning_1st_6_ad_1)

128

In [857]:
df_returning_1st_6_ad_2 = df_returning_1st_6_ad.loc[df_returning_1st_6_ad["1"].str.contains("2", case = True)]
len(df_returning_1st_6_ad_2)

591

In [858]:
df_returning_1st_6_ad_3 = df_returning_1st_6_ad.loc[df_returning_1st_6_ad["1"].str.contains("3", case = True)]
len(df_returning_1st_6_ad_3)

272

In [893]:
df_returning_1st_6_ad_1.loc[df_returning_1st_6_ad_1["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
665,15-0,3,5,0,0,ST,6,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5420,40-30,4,1,1,1,MB,6,f19,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5844,30-40,4,2,2,0,TG,6,f19,f28,b27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7575,15-0,1,0,0,0,MB,6,f19,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,15-0,2,2,2,0,MB,6,f19,f2,y1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8022,40-0,4,1,1,1,LS,6,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8074,AD-40,2,3,0,0,DE,6,f19,f38,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15046,15-0,4,5,1,1,RBA,6,f19,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15059,0-15,0,1,0,0,NB,6,f19,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15063,40-30,0,1,0,0,NB,6,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16830,30-15,1,1,0,0,RN,6,r19,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16939,30-15,5,3,0,1,RN,6,f19,b2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [894]:
df_returning_1st_6_ad_2.loc[df_returning_1st_6_ad_2["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
197,15-0,1,0,0,1,TF,6,r29,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,15-0,3,2,0,0,DM,6,f29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,30-15,2,1,1,1,DM,6,f29,b1,f;1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,15-0,4,3,1,1,DM,6,f29,y1,f-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,15-0,5,4,0,0,AR,6,f29,f3w#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18874,30-15,0,0,0,1,DI,6,f29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18958,0-15,1,1,1,1,DI,6,f29,b1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19228,15-30,3,3,1,0,AM,6,f29,f1,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19273,40-30,0,0,1,1,AM,6,f29,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19291,15-0,2,2,1,1,AM,6,r29,f1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [895]:
df_returning_1st_6_ad_3.loc[df_returning_1st_6_ad_3["1"].str.contains("9", case = True)]

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
39,30-15,4,3,0,0,CR,6,f39,b2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,15-0,4,4,0,0,TF,6,r39,b3,s2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,AD-40,1,0,0,0,DM,6,f39,b3,b+1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,40-AD,1,1,1,0,DM,6,r39,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,30-15,0,2,0,0,ST,6,f39,f2,b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722,40-30,4,4,0,1,ST,6,f39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1573,AD-40,1,0,0,0,MC,6,f39,b29,f28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2998,15-30,3,2,1,0,FAA,6,f39,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4857,40-AD,2,1,0,1,DM,6,r39,b1,r#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5804,15-30,0,0,2,0,TG,6,f39,f37,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6199,30-15,1,4,1,1,AZ,6,f39,b3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6430,30-15,4,0,0,1,MB,6,f39,b2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7655,0-15,2,2,1,0,MB,6,f39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7859,30-40,2,1,0,0,LS,6,f39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10078,AD-40,4,2,2,2,DT,6,f39,f3,s1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10121,15-30,2,0,0,0,RF,6,f39,b29,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10123,30-40,2,0,0,0,RF,6,f39,b28,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10176,15-30,5,5,0,0,RF,6,f39,f39,b38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10380,40-AD,5,4,0,0,MR,6,r39,b39,b29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10519,AD-40,5,5,2,0,MR,6,f39,s38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10596,30-40,0,0,1,0,DSS,6,f39,b38,s38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11141,40-30,0,2,1,0,DT,6,f39,f39*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11594,40-30,3,0,0,0,ST,6,f39,b2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11705,40-0,0,0,1,0,ST,6,r39,f19,f3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11721,15-0,2,2,1,0,ST,6,f39,b19,f17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11822,40-30,3,5,1,1,ST,6,f39,f38,b27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12525,30-15,2,1,1,1,RBA,6,f39,b2,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12809,40-AD,2,2,0,0,HH,6,r39,f38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13061,30-40,3,0,0,0,DK,6,r39,b38,s19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13069,30-15,5,0,0,0,DK,6,r39,f38,b1d@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13840,15-0,2,1,1,1,DSS,6,f39,b1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14055,15-30,2,2,1,1,JMD,6,f39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14196,15-0,2,2,1,0,DT,6,f39,f1*,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15002,30-15,0,1,1,1,RBA,6,f39,b3,b3d#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15199,0-15,4,2,1,1,NB,6,f39,b3,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16112,40-AD,2,1,2,0,JMD,6,r39,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16384,0-15,0,0,0,1,RF,6,f39,b1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17141,0-15,4,5,2,2,RN,6,f39,f3d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17188,30-40,7,8,2,2,RN,6,f39,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17381,30-40,2,1,2,1,KN,6,f39,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17968,30-40,5,6,1,0,MC,6,f39,i=2,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18061,40-30,1,4,2,1,MC,6,f39,f1,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19211,30-15,2,2,1,0,AM,6,f39,b3,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [896]:
df_returning_1st_6_ad_1["1"] = df_returning_1st_6_ad_1["1"].str.replace('*', 'a')
df_returning_1st_6_ad_1.loc[df_returning_1st_6_ad_1["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1218240295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_6_ad_1["1"] = df_returning_1st_6_ad_1["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
665,15-0,3,5,0,0,ST,6,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7191,0-15,0,2,2,1,ST,6,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8022,40-0,4,1,1,1,LS,6,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9171,40-AD,5,1,2,2,ST,6,f18a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15063,40-30,0,1,0,0,NB,6,f19a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [897]:
df_returning_1st_6_ad_2["1"] = df_returning_1st_6_ad_2["1"].str.replace('*', 'a')
df_returning_1st_6_ad_2.loc[df_returning_1st_6_ad_2["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\944854280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_6_ad_2["1"] = df_returning_1st_6_ad_2["1"].str.replace('*', 'a')

Empty DataFrame
Columns: [Pts, Gm1, Gm2, Set1, Set2, Serving, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
Index: []

[0 rows x 60 columns]

In [898]:
df_returning_1st_6_ad_3["1"] = df_returning_1st_6_ad_3["1"].str.replace('*', 'a')
df_returning_1st_6_ad_3.loc[df_returning_1st_6_ad_3["1"].str.contains("a", case = True)]

C:\Users\carlo\AppData\Local\Temp\ipykernel_1676\1633846103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_returning_1st_6_ad_3["1"] = df_returning_1st_6_ad_3["1"].str.replace('*', 'a')

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
18442,AD-40,4,3,1,0,RN,6,f38a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN