In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [110]:
df_0 = pd.read_csv(r"C:\Users\carlo\TrainingsTool\Tennis\ML_Stuff\df_djoker_ready_to_split.csv", encoding="unicode_escape", low_memory=False)
df_0

,Unnamed: 0,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,...,44,45,46,47,48,49,50,51,52,53
0,0,0-0,0,0,0,0,ND,"4n,",4,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0-15,0,0,0,0,ND,"4n,",6,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,30-15,0,0,0,0,ND,"4n,",5,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,40-15,0,0,0,0,ND,4,r28,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,19319,0-15,5,4,1,1,ND,6,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,19320,0-30,5,4,1,1,ND,"6w,",5,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,19321,15-30,5,4,1,1,ND,4,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,19322,30-30,5,4,1,1,ND,"4d,",4,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,19323,40-30,5,4,1,1,ND,"6n,",5,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_1 = df_0.drop("Unnamed: 0", axis=1)
df_1

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_2 = df_1.iloc[:, : 12]
df_2

         Pts  Gm1  Gm2  Set1  Set2 Serving    0    1     2     3    4    5
0        0-0    0    0     0     0      ND  4n,    4   f18    f3   s2   f1
1       0-15    0    0     0     0      ND  4n,    6  f2n#   NaN  NaN  NaN
2      15-15    0    0     0     0      ND  4*,  NaN   NaN   NaN  NaN  NaN
3      30-15    0    0     0     0      ND  4n,    5  b3n@   NaN  NaN  NaN
4      40-15    0    0     0     0      ND    4  r28    f1    r2   f3   b3
...      ...  ...  ...   ...   ...     ...  ...  ...   ...   ...  ...  ...
19319   0-15    5    4     1     1      ND    6  f38    b3    b3   b2   f3
19320   0-30    5    4     1     1      ND  6w,    5   b39    b2   b2   f3
19321  15-30    5    4     1     1      ND    4  b39    b3  b3n@  NaN  NaN
19322  30-30    5    4     1     1      ND  4d,    4   f19    f3   b3   b3
19323  40-30    5    4     1     1      ND  6n,    5   f39    b2   f3   b1

[19324 rows x 12 columns]

In [116]:
df_2
df_3 = df_2.dropna()

In [51]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()

In [117]:
df_3

         Pts  Gm1  Gm2  Set1  Set2 Serving    0    1    2   3   4    5
0        0-0    0    0     0     0      ND  4n,    4  f18  f3  s2   f1
4      40-15    0    0     0     0      ND    4  r28   f1  r2  f3   b3
5        0-0    1    0     0     0      CR  4n,    6  b37  b2  f3   s2
6       15-0    1    0     0     0      CR  4n,    5  b38  s3  b3   b3
7      15-15    1    0     0     0      CR  6n,    5  f28  f3  s2  f+3
...      ...  ...  ...   ...   ...     ...  ...  ...  ...  ..  ..  ...
19315   30-0    5    3     1     1      AM  6n,    6  b37  b3  b1   f1
19319   0-15    5    4     1     1      ND    6  f38   b3  b3  b2   f3
19320   0-30    5    4     1     1      ND  6w,    5  b39  b2  b2   f3
19322  30-30    5    4     1     1      ND  4d,    4  f19  f3  b3   b3
19323  40-30    5    4     1     1      ND  6n,    5  f39  b2  f3   b1

[7260 rows x 12 columns]

In [118]:
df_3['Pts'] = df_3['Pts'].str.replace('-','')
df_3

C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\3289592058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['Pts'] = df_3['Pts'].str.replace('-','')

        Pts  Gm1  Gm2  Set1  Set2 Serving    0    1    2   3   4    5
0        00    0    0     0     0      ND  4n,    4  f18  f3  s2   f1
4      4015    0    0     0     0      ND    4  r28   f1  r2  f3   b3
5        00    1    0     0     0      CR  4n,    6  b37  b2  f3   s2
6       150    1    0     0     0      CR  4n,    5  b38  s3  b3   b3
7      1515    1    0     0     0      CR  6n,    5  f28  f3  s2  f+3
...     ...  ...  ...   ...   ...     ...  ...  ...  ...  ..  ..  ...
19315   300    5    3     1     1      AM  6n,    6  b37  b3  b1   f1
19319   015    5    4     1     1      ND    6  f38   b3  b3  b2   f3
19320   030    5    4     1     1      ND  6w,    5  b39  b2  b2   f3
19322  3030    5    4     1     1      ND  4d,    4  f19  f3  b3   b3
19323  4030    5    4     1     1      ND  6n,    5  f39  b2  f3   b1

[7260 rows x 12 columns]

In [120]:
# If the value in "Serving" != "ND" then replace it by 0
df_3.loc[df_3['Serving'].ne('ND'), 'Serving'] = '0'
# If Djokovic is serving: "Serving" = 1, else "serving" = 0
df_3['Serving'] = df_3['Serving'].str.replace('ND', "1")
df_3

C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\666259069.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['Serving'] = df_3['Serving'].str.replace('ND', "1")

        Pts  Gm1  Gm2  Set1  Set2 Serving    0    1    2   3   4    5
0        00    0    0     0     0       1  4n,    4  f18  f3  s2   f1
4      4015    0    0     0     0       1    4  r28   f1  r2  f3   b3
5        00    1    0     0     0       0  4n,    6  b37  b2  f3   s2
6       150    1    0     0     0       0  4n,    5  b38  s3  b3   b3
7      1515    1    0     0     0       0  6n,    5  f28  f3  s2  f+3
...     ...  ...  ...   ...   ...     ...  ...  ...  ...  ..  ..  ...
19315   300    5    3     1     1       0  6n,    6  b37  b3  b1   f1
19319   015    5    4     1     1       1    6  f38   b3  b3  b2   f3
19320   030    5    4     1     1       1  6w,    5  b39  b2  b2   f3
19322  3030    5    4     1     1       1  4d,    4  f19  f3  b3   b3
19323  4030    5    4     1     1       1  6n,    5  f39  b2  f3   b1

[7260 rows x 12 columns]

In [121]:
columns = ['0', '1', '2', '3', '4', '5']
for i in columns:
    df_3[str(i)] = df_3[str(i)].str.replace('n', '29')
    df_3[str(i)] = df_3[str(i)].str.replace('w', '30')
    df_3[str(i)] = df_3[str(i)].str.replace('d', '31')
    df_3[str(i)] = df_3[str(i)].str.replace('x', '32')
    df_3[str(i)] = df_3[str(i)].str.replace('g', '37')
    df_3[str(i)] = df_3[str(i)].str.replace('e', '33')
    df_3[str(i)] = df_3[str(i)].str.replace('!', '38')
    df_3[str(i)] = df_3[str(i)].str.replace('V', '36')
    df_3[str(i)] = df_3[str(i)].str.replace('c', '39')
    df_3[str(i)] = df_3[str(i)].str.replace('+', '40')
    df_3[str(i)] = df_3[str(i)].str.replace('*', '28')
    df_3[str(i)] = df_3[str(i)].str.replace('#', '35')
    df_3[str(i)] = df_3[str(i)].str.replace('@', '34')
    df_3[str(i)] = df_3[str(i)].str.replace('f', '10')
    df_3[str(i)] = df_3[str(i)].str.replace('b', '11')
    df_3[str(i)] = df_3[str(i)].str.replace('r', '12')
    df_3[str(i)] = df_3[str(i)].str.replace('s', '13')
    df_3[str(i)] = df_3[str(i)].str.replace('v', '14')
    df_3[str(i)] = df_3[str(i)].str.replace('z', '15')
    df_3[str(i)] = df_3[str(i)].str.replace('o', '16')
    df_3[str(i)] = df_3[str(i)].str.replace('p', '17')
    df_3[str(i)] = df_3[str(i)].str.replace('u', '18')
    df_3[str(i)] = df_3[str(i)].str.replace('y', '19')
    df_3[str(i)] = df_3[str(i)].str.replace('l', '20')
    df_3[str(i)] = df_3[str(i)].str.replace('m', '21')
    df_3[str(i)] = df_3[str(i)].str.replace('h', '22')
    df_3[str(i)] = df_3[str(i)].str.replace('i', '23')
    df_3[str(i)] = df_3[str(i)].str.replace('j', '24')
    df_3[str(i)] = df_3[str(i)].str.replace('k', '25')
    df_3[str(i)] = df_3[str(i)].str.replace('t', '26')
    df_3[str(i)] = df_3[str(i)].str.replace('q', '27')
    df_3[str(i)] = df_3[str(i)].str.replace(',', '41')
    df_3[str(i)] = df_3[str(i)].str.replace(';', '42')
    df_3[str(i)] = df_3[str(i)].str.replace(' ', '')
    df_3[str(i)] = df_3[str(i)].str.replace('-', '45')
    df_3[str(i)] = df_3[str(i)].str.replace('=', '43')
    df_3[str(i)] = df_3[str(i)].str.replace('^', '44')
df_3

C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('n', '29')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('w', '30')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('d', '31')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('x', '32')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('g', '37')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('e', '33')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('!', '38')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('V', '36')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('c', '39')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('+', '40')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('*', '28')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('#', '35')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('@', '34')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('f', '10')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('b', '11')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('r', '12')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('s', '13')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('v', '14')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('z', '15')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('o', '16')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('p', '17')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('u', '18')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('y', '19')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('l', '20')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('m', '21')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('h', '22')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('i', '23')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('j', '24')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('k', '25')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('t', '26')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('q', '27')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace(',', '41')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace(';', '42')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace(' ', '')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('-', '45')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('=', '43')
C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\221080716.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3[str(i)] = df_3[str(i)].str.replace('^', '44')

        Pts  Gm1  Gm2  Set1  Set2 Serving      0     1     2    3    4      5
0        00    0    0     0     0       1  42941     4  1018  103  132    101
4      4015    0    0     0     0       1      4  1228   101  122  103    113
5        00    1    0     0     0       0  42941     6  1137  112  103    132
6       150    1    0     0     0       0  42941     5  1138  133  113    113
7      1515    1    0     0     0       0  62941     5  1028  103  132  10403
...     ...  ...  ...   ...   ...     ...    ...   ...   ...  ...  ...    ...
19315   300    5    3     1     1       0  62941     6  1137  113  111    101
19319   015    5    4     1     1       1      6  1038   113  113  112    103
19320   030    5    4     1     1       1  63041     5  1139  112  112    103
19322  3030    5    4     1     1       1  43141     4  1019  103  113    113
19323  4030    5    4     1     1       1  62941     5  1039  112  103    111

[7260 rows x 12 columns]

In [122]:
# "AD" in Columns Pts is changed to "50"
df_3['Pts'] = df_3['Pts'].str.replace('AD', "50")
df_3

C:\Users\carlo\AppData\Local\Temp\ipykernel_20224\2155157799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['Pts'] = df_3['Pts'].str.replace('AD', "50")

        Pts  Gm1  Gm2  Set1  Set2 Serving      0     1     2    3    4      5
0        00    0    0     0     0       1  42941     4  1018  103  132    101
4      4015    0    0     0     0       1      4  1228   101  122  103    113
5        00    1    0     0     0       0  42941     6  1137  112  103    132
6       150    1    0     0     0       0  42941     5  1138  133  113    113
7      1515    1    0     0     0       0  62941     5  1028  103  132  10403
...     ...  ...  ...   ...   ...     ...    ...   ...   ...  ...  ...    ...
19315   300    5    3     1     1       0  62941     6  1137  113  111    101
19319   015    5    4     1     1       1      6  1038   113  113  112    103
19320   030    5    4     1     1       1  63041     5  1139  112  112    103
19322  3030    5    4     1     1       1  43141     4  1019  103  113    113
19323  4030    5    4     1     1       1  62941     5  1039  112  103    111

[7260 rows x 12 columns]

In [134]:
#df_3.to_csv("Djokovic_5th_predicted_working_19percent.csv")

In [123]:
# Create X (features matrix)
X = df_3.drop("5", axis=1)

# Create y (labels)
y = df_3["5"]

In [124]:
X

        Pts  Gm1  Gm2  Set1  Set2 Serving      0     1     2    3    4
0        00    0    0     0     0       1  42941     4  1018  103  132
4      4015    0    0     0     0       1      4  1228   101  122  103
5        00    1    0     0     0       0  42941     6  1137  112  103
6       150    1    0     0     0       0  42941     5  1138  133  113
7      1515    1    0     0     0       0  62941     5  1028  103  132
...     ...  ...  ...   ...   ...     ...    ...   ...   ...  ...  ...
19315   300    5    3     1     1       0  62941     6  1137  113  111
19319   015    5    4     1     1       1      6  1038   113  113  112
19320   030    5    4     1     1       1  63041     5  1139  112  112
19322  3030    5    4     1     1       1  43141     4  1019  103  113
19323  4030    5    4     1     1       1  62941     5  1039  112  103

[7260 rows x 11 columns]

In [125]:
clf = RandomForestClassifier(n_estimators=30)

In [126]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [127]:
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=30)

In [128]:
y_preds = clf.predict(X_test)
y_preds

array(['101', '1017', '101', ..., '1019', '113', '113'], dtype=object)

In [129]:
y_test

19287      103
12785     1017
3538     10128
8770       101
9220       102
         ...
11573    24328
7662       113
13159     1018
8235       111
19175      112
Name: 5, Length: 2178, dtype: object

In [130]:
clf.score(X_train, y_train)

0.9996064541519087

In [131]:
clf.score(X_test, y_test)

0.1753902662993572

In [132]:
# trying to improve the model
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 18.37%

Trying model with 20 estimators...
Model accuracy on test set: 17.68%

Trying model with 30 estimators...
Model accuracy on test set: 18.55%

Trying model with 40 estimators...
Model accuracy on test set: 18.64%

Trying model with 50 estimators...
Model accuracy on test set: 18.92%

Trying model with 60 estimators...
Model accuracy on test set: 19.38%

Trying model with 70 estimators...
Model accuracy on test set: 18.04%

Trying model with 80 estimators...
Model accuracy on test set: 18.64%

Trying model with 90 estimators...
Model accuracy on test set: 18.92%