In [1]:
import pandas as pd

In [14]:
#df = pd.read_csv(r"", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_average\mcts_uct_greedy_vs_average_142_58.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_average\mcts_uct_uct_vs_average_101_99.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_average\mcts_random_uct_vs_average_93_107.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_average\mcts_random_greedy_average_139_61.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_average\mcts_greedy_uct_vs_average_95_105.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_average\mcts_greedy_greedy_vs_average_132_68.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_djoko\mcts_greedy_greedy_vs_simple_djoko_83_117.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_djoko\mcts_random_greedy_vs_djoko_102_98.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_djoko\mcts_uct_greedy_vs_simple_djoko_93_107.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_djoko\mcts_uct_uct_vs_simple_djoko_27_173.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_djoko\mcts_greedy_uct_vs_djoko_30_170.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2_5_vs_average_66_34.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2_10_vs_average_58_42.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2_15_vs_average_ 63_37.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2-05_5_vs_average_68_32.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2-05_10_vs_average_64_36.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2-05_15_vs_average_55_45.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2+05_5_vs_average_72_28.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2+05_10_vs_average_77_23.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\parameter_adaptations\mcts_uct_greedy_w2+05_15_vs_average_75_25.csv", encoding='unicode_escape', low_memory=False)
#df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_djoko\mcts_random_uct_vs_djoko_72_128.csv", encoding='unicode_escape', low_memory=False)
df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\exported_results\mcts_vs_djoko\mcts_random_greedy_vs_djoko_78_122.csv", encoding='unicode_escape', low_memory=False)
df

,Points_A,Points_B,Games_A,Games_B,Sets_A,Sets_B,Serving_Player,Ralley
0,0,15,0,0,0,0,1,"['4nwdx,', '5', 'b38', '38nwdx']"
1,15,15,0,0,0,0,1,"['6', 'f29', '29', 'b28', '18', 'f28', '18*']"
2,15,30,0,0,0,0,1,"['6', 'b29', '37', 'b19', '17', 'f39*']"
3,30,30,0,0,0,0,1,"['5', 'f38', '17', 'f29', '19*']"
4,40,30,0,0,0,0,1,"['5', 'b18', '18*']"
...,...,...,...,...,...,...,...,...
32346,15,0,5,4,1,1,1,"['6nwdx,', '5', 'b27nwdx']"
32347,30,0,5,4,1,1,1,"['6', 'f28', '29', 'f17', '38', 's17', '18', '..."
32348,30,15,5,4,1,1,1,"['6', 'b38', '29', 'b39', '28', 's38', '18nwdx']"
32349,40,15,5,4,1,1,1,"['6nwdx,', '5', 'f29', '19*']"
32350,0,0,0,0,0,0,2,"['6nwdx,', '5', 'f28', '39', 'b38', '19*']"

In [15]:
df_run = df

In [16]:
points_A = 0
current_points = 0
for i in range(len(df_run)-1):
    current_points = df_run.loc[i, 'Points_A']
    current_oppo_points = df_run.loc[i, 'Points_B']
    next_points = df_run.loc[i+1, 'Points_A']
    if (current_points == 0 and next_points == 15):
        points_A += 1
    elif (current_points == 15 and next_points == 30):
        points_A += 1
    elif (current_points == 30 and next_points == 40):
        points_A += 1
    elif (current_points == 40 and next_points == 50):
        points_A += 1
    elif (current_points == 50 and next_points == 0):
        points_A += 1
    elif (current_points == 40 and next_points == 0 and current_oppo_points != 50):
        points_A += 1
    elif (current_points == 0 and next_points == 1):
        points_A += 1
    elif (current_points == 1 and next_points == 2):
        points_A += 1
    elif (current_points == 2 and next_points == 3):
        points_A += 1
    elif (current_points == 3 and next_points == 4):
        points_A += 1
    elif (current_points == 4 and next_points == 5):
        points_A += 1
    elif (current_points == 5 and next_points == 6):
        points_A += 1
    elif (current_points == 6 and next_points == 7):
        points_A += 1
    elif (current_points == 7 and next_points == 8):
        points_A += 1
    elif (current_points == 8 and next_points == 9):
        points_A += 1
    elif (current_points == 9 and next_points == 10):
        points_A += 1
    elif (current_points == 10 and next_points == 11):
        points_A += 1
    elif (current_points == 11 and next_points == 12):
        points_A += 1
    elif (current_points == 12 and next_points == 13):
        points_A += 1
    elif (current_points == 13 and next_points == 14):
        points_A += 1
    elif (current_points == 6 and next_points == 0 and current_oppo_points != 7):
        points_A += 1
    elif (current_points == 7 and next_points == 0 and current_oppo_points != 8):
        points_A += 1
    elif (current_points == 8 and next_points == 0 and current_oppo_points != 9):
        points_A += 1
    elif (current_points == 9 and next_points == 0 and current_oppo_points != 10):
        points_A += 1
    elif (current_points == 10 and next_points == 0 and current_oppo_points != 11):
        points_A += 1
    elif (current_points == 11 and next_points == 0 and current_oppo_points != 12):
        points_A += 1
    elif (current_points == 12 and next_points == 0 and current_oppo_points != 13):
        points_A += 1
    elif (current_points == 13 and next_points == 0 and current_oppo_points != 14):
        points_A += 1
    elif (current_points == 40 and next_points == 40 and current_oppo_points == 50):
        points_A += 1
    else:
        ... 
        #print("i: " + str(i))
        #print("Current Points: " + str(current_points))
        #print("Current Oppo Points: " + str(current_oppo_points))
        #print("Next Points: " + str(next_points))
    
print(str(points_A))

15862

In [17]:
points_B = 0
current_points = 0
for i in range(len(df_run)-1):
    current_points = df_run.loc[i, 'Points_B']
    current_oppo_points = df_run.loc[i, 'Points_A']
    next_points = df_run.loc[i+1, 'Points_B']
    if (current_points == 0 and next_points == 15):
        points_B += 1
    elif (current_points == 15 and next_points == 30):
        points_B += 1
    elif (current_points == 30 and next_points == 40):
        points_B += 1
    elif (current_points == 40 and next_points == 50):
        points_B += 1
    elif (current_points == 50 and next_points == 0):
        points_B += 1
    elif (current_points == 40 and next_points == 0 and current_oppo_points != 50):
        points_B += 1
    elif (current_points == 0 and next_points == 1):
        points_B += 1
    elif (current_points == 1 and next_points == 2):
        points_B += 1
    elif (current_points == 2 and next_points == 3):
        points_B += 1
    elif (current_points == 3 and next_points == 4):
        points_B += 1
    elif (current_points == 4 and next_points == 5):
        points_B += 1
    elif (current_points == 5 and next_points == 6):
        points_B += 1
    elif (current_points == 6 and next_points == 7):
        points_B += 1
    elif (current_points == 7 and next_points == 8):
        points_B += 1
    elif (current_points == 8 and next_points == 9):
        points_B += 1
    elif (current_points == 9 and next_points == 10):
        points_B += 1
    elif (current_points == 10 and next_points == 11):
        points_B += 1
    elif (current_points == 11 and next_points == 12):
        points_B += 1
    elif (current_points == 12 and next_points == 13):
        points_B += 1
    elif (current_points == 13 and next_points == 14):
        points_B += 1
    elif (current_points == 6 and next_points == 0 and current_oppo_points != 7):
        points_B += 1
    elif (current_points == 7 and next_points == 0 and current_oppo_points != 8):
        points_B += 1
    elif (current_points == 8 and next_points == 0 and current_oppo_points != 9):
        points_B += 1
    elif (current_points == 9 and next_points == 0 and current_oppo_points != 10):
        points_B += 1
    elif (current_points == 10 and next_points == 0 and current_oppo_points != 11):
        points_B += 1
    elif (current_points == 11 and next_points == 0 and current_oppo_points != 12):
        points_B += 1
    elif (current_points == 12 and next_points == 0 and current_oppo_points != 13):
        points_B += 1
    elif (current_points == 13 and next_points == 0 and current_oppo_points != 14):
        points_B += 1
    elif (current_points == 40 and next_points == 40 and current_oppo_points == 50):
        points_B += 1
    else:
        ... 
        #print("i: " + str(i))
        #print("Current Points: " + str(current_points))
        #print("Current Oppo Points: " + str(current_oppo_points))
        #print("Next Points: " + str(next_points))
    
print(str(points_B))

16488

In [18]:
len(df_run)

32351

In [19]:
df_run

,Points_A,Points_B,Games_A,Games_B,Sets_A,Sets_B,Serving_Player,Ralley
0,0,15,0,0,0,0,1,"['4nwdx,', '5', 'b38', '38nwdx']"
1,15,15,0,0,0,0,1,"['6', 'f29', '29', 'b28', '18', 'f28', '18*']"
2,15,30,0,0,0,0,1,"['6', 'b29', '37', 'b19', '17', 'f39*']"
3,30,30,0,0,0,0,1,"['5', 'f38', '17', 'f29', '19*']"
4,40,30,0,0,0,0,1,"['5', 'b18', '18*']"
...,...,...,...,...,...,...,...,...
32346,15,0,5,4,1,1,1,"['6nwdx,', '5', 'b27nwdx']"
32347,30,0,5,4,1,1,1,"['6', 'f28', '29', 'f17', '38', 's17', '18', '..."
32348,30,15,5,4,1,1,1,"['6', 'b38', '29', 'b39', '28', 's38', '18nwdx']"
32349,40,15,5,4,1,1,1,"['6nwdx,', '5', 'f29', '19*']"
32350,0,0,0,0,0,0,2,"['6nwdx,', '5', 'f28', '39', 'b38', '19*']"